# data cleaning and Injection

In [33]:
# import library and reading data
import pandas as pd
import numpy as np

In [34]:
file_path = "C:\\Pedram\\quera\\6th week\\Code\\DATABASE\\clean books data.csv"
df = pd.read_csv(file_path)
df

,Unnamed: 0,f_title,e_title,price_broken,price_special,discount,data_rating,publishers,author,book_id,...,translator,jyear,myear,description,typej,sprint,product_features,product_tags,persian_bar,lbook
0,0,کتاب گور به گور,As I Lay Dying,130000,110500,15.0,4.227273,['نشر چشمه'],['ویلیام فاکنر'],191,...,['نجف دریابندری'],1401,1930,رمان گور به گور، تشریح نفس گیر ویلیام فاکنر اس...,شومیز,28,['نویسنده ی کتاب برنده ی جایزه ی نوبل ادبیات س...,"['ادبیات اقتباسی', 'جایزه نوبل ادبیات', 'ادبیا...",یکی از بهترین رمان های قرن بیستم. تأثیر شگرف د...,['فارسی ']
1,1,کتاب جزء از کل,A Fraction of the Whole,395000,335750,15.0,3.700000,['نشر چشمه'],['استیو تولتز'],43,...,['پیمان خاکسار'],1402,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,جلد سخت,80,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی ']
2,2,جزء از کل (مجموعه برگ و نوا),A Fraction of the Whole,390000,292500,25.0,3.090000,['نشر چشمه'],['استیو تولتز'],71718,...,['پیمان خاکسار'],1402,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,جلد سخت,80,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی ']
3,3,جزء از کل,A Fraction of the Whole,420000,252000,40.0,3.200000,['ندای معاصر (زرین کلک)'],['استیو تولتز'],92408,...,['گلناز سهرابی'],1401,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,جلد سخت,4,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی ']
4,4,جزء از کل,A Fraction of the Whole,500000,300000,40.0,3.220000,['ندای معاصر (زرین کلک)'],['استیو تولتز'],92404,...,['گلناز سهرابی'],1401,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,شومیز,4,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی ']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108007,113563,کتاب تن تن همان تنهاست,Tan Tan,74000,59200,20.0,3.040000,['سیب سرخ'],['مهرگان علیدوست'],122030,...,No translator,1401,1920,مجموعه شعر «تن‌تن همان تنهاست» اثر مهرگان علید...,شومیز,1,[],"['ادبیات معاصر', 'جدید ترین کتاب ها', 'شعر', '...",No pb,['فارسی ']
108008,113564,کتاب جنون آرامش بر نقطه فراموشی,Jonoon,23000,18400,20.0,3.890000,['سیب سرخ'],سهراب آزادچهر,122028,...,No translator,1401,1920,شاعری که شکارگاه را یافتشکار حراج رسالت هاریزگ...,شومیز,1,[],"['ادبیات معاصر', 'جدید ترین کتاب ها', 'شعر', '...",No pb,['فارسی ']
108009,113565,کتاب شکارچیان زمان : در جستجوی شوالیه,Knight Quest,15000,11250,25.0,3.750000,['سامر'],['کریس بلیک'],122046,...,['فرناز صفرزاده'],1395,2013,No description,شومیز,1,[],"['داستان فانتزی', 'ادبیات انگلیس', 'ادبیات داس...",No pb,['فارسی ']
108010,113566,کتاب شکارچیان زمان : نبرد گلادیاتور,Gladiator Clash,15000,11250,25.0,3.700000,['سامر'],['کریس بلیک'],122043,...,['زهرا رشیدی'],1395,2013,No description,شومیز,1,[],"['داستان فانتزی', 'ادبیات انگلیس', 'ادبیات داس...",No pb,['فارسی ']
108011,113567,کتاب کتاب عروسکی خرسو قلقلی,Khers,99000,99000,0.0,3.660000,['زنبور'],['اسدالله شعبانی'],122051,...,No translator,1395,1920,No description,سلفونی,1,[],"['ادبیات داستانی', 'ادبیات معاصر', 'شعر', 'کتا...",No pb,['فارسی ']

In [35]:
from isbntools.app import meta

# Replace 'YOUR_ISBN' with the actual ISBN of the book you want to retrieve metadata for
isbn = '978-964-362-193-3'

# Fetch book metadata
book_info = meta(isbn)

# Print all available metadata fields
for key, value in book_info.items():
    print(f"{key}: {value}")

ISBN-13: 9789643621933
Title: Gūr bih gūr
Authors: ['William Faulkner', 'Najaf Daryābandarī']
Publisher:
Year: 2011
Language: fa

In [36]:
import isbnlib

# Replace 'YOUR_ISBN' with the actual ISBN of the book you want to retrieve metadata for
isbn = '978-3747503867'

# Fetch book metadata
book_info = isbnlib.meta(isbn)
# Print all available metadata fields
for key, value in book_info.items():
    print(f"{key}: {value}")

ISBN-13: 9783747503867
Title: Datenvisualisierung mit Power BI
Authors: ['Alexander Loth', 'Peter Vogel']
Publisher:
Year: 2021
Language: de

# data cleaning

In [37]:
# delete unnamed column
df.drop('Unnamed: 0', axis=1, inplace=True)

df

,f_title,e_title,price_broken,price_special,discount,data_rating,publishers,author,book_id,shbook,...,translator,jyear,myear,description,typej,sprint,product_features,product_tags,persian_bar,lbook
0,کتاب گور به گور,As I Lay Dying,130000,110500,15.0,4.227273,['نشر چشمه'],['ویلیام فاکنر'],191,978-964-362-193-3,...,['نجف دریابندری'],1401,1930,رمان گور به گور، تشریح نفس گیر ویلیام فاکنر اس...,شومیز,28,['نویسنده ی کتاب برنده ی جایزه ی نوبل ادبیات س...,"['ادبیات اقتباسی', 'جایزه نوبل ادبیات', 'ادبیا...",یکی از بهترین رمان های قرن بیستم. تأثیر شگرف د...,['فارسی ']
1,کتاب جزء از کل,A Fraction of the Whole,395000,335750,15.0,3.700000,['نشر چشمه'],['استیو تولتز'],43,978-600229-5002,...,['پیمان خاکسار'],1402,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,جلد سخت,80,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی ']
2,جزء از کل (مجموعه برگ و نوا),A Fraction of the Whole,390000,292500,25.0,3.090000,['نشر چشمه'],['استیو تولتز'],71718,978-6002295002,...,['پیمان خاکسار'],1402,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,جلد سخت,80,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی ']
3,جزء از کل,A Fraction of the Whole,420000,252000,40.0,3.200000,['ندای معاصر (زرین کلک)'],['استیو تولتز'],92408,978-6009896486,...,['گلناز سهرابی'],1401,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,جلد سخت,4,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی ']
4,جزء از کل,A Fraction of the Whole,500000,300000,40.0,3.220000,['ندای معاصر (زرین کلک)'],['استیو تولتز'],92404,978-6009896400,...,['گلناز سهرابی'],1401,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,شومیز,4,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی ']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108007,کتاب تن تن همان تنهاست,Tan Tan,74000,59200,20.0,3.040000,['سیب سرخ'],['مهرگان علیدوست'],122030,978-6225838338,...,No translator,1401,1920,مجموعه شعر «تن‌تن همان تنهاست» اثر مهرگان علید...,شومیز,1,[],"['ادبیات معاصر', 'جدید ترین کتاب ها', 'شعر', '...",No pb,['فارسی ']
108008,کتاب جنون آرامش بر نقطه فراموشی,Jonoon,23000,18400,20.0,3.890000,['سیب سرخ'],سهراب آزادچهر,122028,978-6225838406,...,No translator,1401,1920,شاعری که شکارگاه را یافتشکار حراج رسالت هاریزگ...,شومیز,1,[],"['ادبیات معاصر', 'جدید ترین کتاب ها', 'شعر', '...",No pb,['فارسی ']
108009,کتاب شکارچیان زمان : در جستجوی شوالیه,Knight Quest,15000,11250,25.0,3.750000,['سامر'],['کریس بلیک'],122046,978-6006444437,...,['فرناز صفرزاده'],1395,2013,No description,شومیز,1,[],"['داستان فانتزی', 'ادبیات انگلیس', 'ادبیات داس...",No pb,['فارسی ']
108010,کتاب شکارچیان زمان : نبرد گلادیاتور,Gladiator Clash,15000,11250,25.0,3.700000,['سامر'],['کریس بلیک'],122043,978-6006444444,...,['زهرا رشیدی'],1395,2013,No description,شومیز,1,[],"['داستان فانتزی', 'ادبیات انگلیس', 'ادبیات داس...",No pb,['فارسی ']
108011,کتاب کتاب عروسکی خرسو قلقلی,Khers,99000,99000,0.0,3.660000,['زنبور'],['اسدالله شعبانی'],122051,978-6008447740,...,No translator,1395,1920,No description,سلفونی,1,[],"['ادبیات داستانی', 'ادبیات معاصر', 'شعر', 'کتا...",No pb,['فارسی ']

In [38]:
# Rename columns
new_column_names = {'f_title': 'persian_title', 'e_title': 'english_title', 'data_rating': 'rate', 'price_broken': 'price'
    , 'price_special': 'net_price', 'discount': 'discount_percent', 'publishers': 'publisher_name', 'author': 'writer',
    'book_id': 'id', 'shbook': 'ISBN', 'ghat': 'size', 'npages': 'num_page', 'translator': 'translator', 
        'jyear': 'solarh_py', 'myear': 'gregorian_py', 'typej': 'cover_type', 'sprint': 'print_series', 'lbook':'language'}
df.rename(columns=new_column_names, inplace=True)
df = df.replace()

df

,persian_title,english_title,price,net_price,discount_percent,rate,publisher_name,writer,id,ISBN,...,translator,solarh_py,gregorian_py,description,cover_type,print_series,product_features,product_tags,persian_bar,language
0,کتاب گور به گور,As I Lay Dying,130000,110500,15.0,4.227273,['نشر چشمه'],['ویلیام فاکنر'],191,978-964-362-193-3,...,['نجف دریابندری'],1401,1930,رمان گور به گور، تشریح نفس گیر ویلیام فاکنر اس...,شومیز,28,['نویسنده ی کتاب برنده ی جایزه ی نوبل ادبیات س...,"['ادبیات اقتباسی', 'جایزه نوبل ادبیات', 'ادبیا...",یکی از بهترین رمان های قرن بیستم. تأثیر شگرف د...,['فارسی ']
1,کتاب جزء از کل,A Fraction of the Whole,395000,335750,15.0,3.700000,['نشر چشمه'],['استیو تولتز'],43,978-600229-5002,...,['پیمان خاکسار'],1402,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,جلد سخت,80,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی ']
2,جزء از کل (مجموعه برگ و نوا),A Fraction of the Whole,390000,292500,25.0,3.090000,['نشر چشمه'],['استیو تولتز'],71718,978-6002295002,...,['پیمان خاکسار'],1402,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,جلد سخت,80,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی ']
3,جزء از کل,A Fraction of the Whole,420000,252000,40.0,3.200000,['ندای معاصر (زرین کلک)'],['استیو تولتز'],92408,978-6009896486,...,['گلناز سهرابی'],1401,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,جلد سخت,4,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی ']
4,جزء از کل,A Fraction of the Whole,500000,300000,40.0,3.220000,['ندای معاصر (زرین کلک)'],['استیو تولتز'],92404,978-6009896400,...,['گلناز سهرابی'],1401,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,شومیز,4,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی ']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108007,کتاب تن تن همان تنهاست,Tan Tan,74000,59200,20.0,3.040000,['سیب سرخ'],['مهرگان علیدوست'],122030,978-6225838338,...,No translator,1401,1920,مجموعه شعر «تن‌تن همان تنهاست» اثر مهرگان علید...,شومیز,1,[],"['ادبیات معاصر', 'جدید ترین کتاب ها', 'شعر', '...",No pb,['فارسی ']
108008,کتاب جنون آرامش بر نقطه فراموشی,Jonoon,23000,18400,20.0,3.890000,['سیب سرخ'],سهراب آزادچهر,122028,978-6225838406,...,No translator,1401,1920,شاعری که شکارگاه را یافتشکار حراج رسالت هاریزگ...,شومیز,1,[],"['ادبیات معاصر', 'جدید ترین کتاب ها', 'شعر', '...",No pb,['فارسی ']
108009,کتاب شکارچیان زمان : در جستجوی شوالیه,Knight Quest,15000,11250,25.0,3.750000,['سامر'],['کریس بلیک'],122046,978-6006444437,...,['فرناز صفرزاده'],1395,2013,No description,شومیز,1,[],"['داستان فانتزی', 'ادبیات انگلیس', 'ادبیات داس...",No pb,['فارسی ']
108010,کتاب شکارچیان زمان : نبرد گلادیاتور,Gladiator Clash,15000,11250,25.0,3.700000,['سامر'],['کریس بلیک'],122043,978-6006444444,...,['زهرا رشیدی'],1395,2013,No description,شومیز,1,[],"['داستان فانتزی', 'ادبیات انگلیس', 'ادبیات داس...",No pb,['فارسی ']
108011,کتاب کتاب عروسکی خرسو قلقلی,Khers,99000,99000,0.0,3.660000,['زنبور'],['اسدالله شعبانی'],122051,978-6008447740,...,No translator,1395,1920,No description,سلفونی,1,[],"['ادبیات داستانی', 'ادبیات معاصر', 'شعر', 'کتا...",No pb,['فارسی ']

In [39]:
# Clean publisher Name
# Remove square brackets from the specified column
df['publisher_name'] = df['publisher_name'].str.replace(r'\[|\]', '', regex=True)

# Print the DataFrame to see the result
df

,persian_title,english_title,price,net_price,discount_percent,rate,publisher_name,writer,id,ISBN,...,translator,solarh_py,gregorian_py,description,cover_type,print_series,product_features,product_tags,persian_bar,language
0,کتاب گور به گور,As I Lay Dying,130000,110500,15.0,4.227273,'نشر چشمه',['ویلیام فاکنر'],191,978-964-362-193-3,...,['نجف دریابندری'],1401,1930,رمان گور به گور، تشریح نفس گیر ویلیام فاکنر اس...,شومیز,28,['نویسنده ی کتاب برنده ی جایزه ی نوبل ادبیات س...,"['ادبیات اقتباسی', 'جایزه نوبل ادبیات', 'ادبیا...",یکی از بهترین رمان های قرن بیستم. تأثیر شگرف د...,['فارسی ']
1,کتاب جزء از کل,A Fraction of the Whole,395000,335750,15.0,3.700000,'نشر چشمه',['استیو تولتز'],43,978-600229-5002,...,['پیمان خاکسار'],1402,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,جلد سخت,80,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی ']
2,جزء از کل (مجموعه برگ و نوا),A Fraction of the Whole,390000,292500,25.0,3.090000,'نشر چشمه',['استیو تولتز'],71718,978-6002295002,...,['پیمان خاکسار'],1402,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,جلد سخت,80,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی ']
3,جزء از کل,A Fraction of the Whole,420000,252000,40.0,3.200000,'ندای معاصر (زرین کلک)',['استیو تولتز'],92408,978-6009896486,...,['گلناز سهرابی'],1401,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,جلد سخت,4,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی ']
4,جزء از کل,A Fraction of the Whole,500000,300000,40.0,3.220000,'ندای معاصر (زرین کلک)',['استیو تولتز'],92404,978-6009896400,...,['گلناز سهرابی'],1401,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,شومیز,4,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی ']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108007,کتاب تن تن همان تنهاست,Tan Tan,74000,59200,20.0,3.040000,'سیب سرخ',['مهرگان علیدوست'],122030,978-6225838338,...,No translator,1401,1920,مجموعه شعر «تن‌تن همان تنهاست» اثر مهرگان علید...,شومیز,1,[],"['ادبیات معاصر', 'جدید ترین کتاب ها', 'شعر', '...",No pb,['فارسی ']
108008,کتاب جنون آرامش بر نقطه فراموشی,Jonoon,23000,18400,20.0,3.890000,'سیب سرخ',سهراب آزادچهر,122028,978-6225838406,...,No translator,1401,1920,شاعری که شکارگاه را یافتشکار حراج رسالت هاریزگ...,شومیز,1,[],"['ادبیات معاصر', 'جدید ترین کتاب ها', 'شعر', '...",No pb,['فارسی ']
108009,کتاب شکارچیان زمان : در جستجوی شوالیه,Knight Quest,15000,11250,25.0,3.750000,'سامر',['کریس بلیک'],122046,978-6006444437,...,['فرناز صفرزاده'],1395,2013,No description,شومیز,1,[],"['داستان فانتزی', 'ادبیات انگلیس', 'ادبیات داس...",No pb,['فارسی ']
108010,کتاب شکارچیان زمان : نبرد گلادیاتور,Gladiator Clash,15000,11250,25.0,3.700000,'سامر',['کریس بلیک'],122043,978-6006444444,...,['زهرا رشیدی'],1395,2013,No description,شومیز,1,[],"['داستان فانتزی', 'ادبیات انگلیس', 'ادبیات داس...",No pb,['فارسی ']
108011,کتاب کتاب عروسکی خرسو قلقلی,Khers,99000,99000,0.0,3.660000,'زنبور',['اسدالله شعبانی'],122051,978-6008447740,...,No translator,1395,1920,No description,سلفونی,1,[],"['ادبیات داستانی', 'ادبیات معاصر', 'شعر', 'کتا...",No pb,['فارسی ']

In [40]:
# Clean ISBN Column
# Remove non-digit characters from the specified column
df['ISBN'] = df['ISBN'].str.replace(r'\D', '', regex=True)

# Print the DataFrame to see the result
df

,persian_title,english_title,price,net_price,discount_percent,rate,publisher_name,writer,id,ISBN,...,translator,solarh_py,gregorian_py,description,cover_type,print_series,product_features,product_tags,persian_bar,language
0,کتاب گور به گور,As I Lay Dying,130000,110500,15.0,4.227273,'نشر چشمه',['ویلیام فاکنر'],191,9789643621933,...,['نجف دریابندری'],1401,1930,رمان گور به گور، تشریح نفس گیر ویلیام فاکنر اس...,شومیز,28,['نویسنده ی کتاب برنده ی جایزه ی نوبل ادبیات س...,"['ادبیات اقتباسی', 'جایزه نوبل ادبیات', 'ادبیا...",یکی از بهترین رمان های قرن بیستم. تأثیر شگرف د...,['فارسی ']
1,کتاب جزء از کل,A Fraction of the Whole,395000,335750,15.0,3.700000,'نشر چشمه',['استیو تولتز'],43,9786002295002,...,['پیمان خاکسار'],1402,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,جلد سخت,80,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی ']
2,جزء از کل (مجموعه برگ و نوا),A Fraction of the Whole,390000,292500,25.0,3.090000,'نشر چشمه',['استیو تولتز'],71718,9786002295002,...,['پیمان خاکسار'],1402,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,جلد سخت,80,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی ']
3,جزء از کل,A Fraction of the Whole,420000,252000,40.0,3.200000,'ندای معاصر (زرین کلک)',['استیو تولتز'],92408,9786009896486,...,['گلناز سهرابی'],1401,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,جلد سخت,4,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی ']
4,جزء از کل,A Fraction of the Whole,500000,300000,40.0,3.220000,'ندای معاصر (زرین کلک)',['استیو تولتز'],92404,9786009896400,...,['گلناز سهرابی'],1401,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,شومیز,4,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی ']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108007,کتاب تن تن همان تنهاست,Tan Tan,74000,59200,20.0,3.040000,'سیب سرخ',['مهرگان علیدوست'],122030,9786225838338,...,No translator,1401,1920,مجموعه شعر «تن‌تن همان تنهاست» اثر مهرگان علید...,شومیز,1,[],"['ادبیات معاصر', 'جدید ترین کتاب ها', 'شعر', '...",No pb,['فارسی ']
108008,کتاب جنون آرامش بر نقطه فراموشی,Jonoon,23000,18400,20.0,3.890000,'سیب سرخ',سهراب آزادچهر,122028,9786225838406,...,No translator,1401,1920,شاعری که شکارگاه را یافتشکار حراج رسالت هاریزگ...,شومیز,1,[],"['ادبیات معاصر', 'جدید ترین کتاب ها', 'شعر', '...",No pb,['فارسی ']
108009,کتاب شکارچیان زمان : در جستجوی شوالیه,Knight Quest,15000,11250,25.0,3.750000,'سامر',['کریس بلیک'],122046,9786006444437,...,['فرناز صفرزاده'],1395,2013,No description,شومیز,1,[],"['داستان فانتزی', 'ادبیات انگلیس', 'ادبیات داس...",No pb,['فارسی ']
108010,کتاب شکارچیان زمان : نبرد گلادیاتور,Gladiator Clash,15000,11250,25.0,3.700000,'سامر',['کریس بلیک'],122043,9786006444444,...,['زهرا رشیدی'],1395,2013,No description,شومیز,1,[],"['داستان فانتزی', 'ادبیات انگلیس', 'ادبیات داس...",No pb,['فارسی ']
108011,کتاب کتاب عروسکی خرسو قلقلی,Khers,99000,99000,0.0,3.660000,'زنبور',['اسدالله شعبانی'],122051,9786008447740,...,No translator,1395,1920,No description,سلفونی,1,[],"['ادبیات داستانی', 'ادبیات معاصر', 'شعر', 'کتا...",No pb,['فارسی ']

In [41]:
# Clean NUm page 
# Extract and keep only digits in the specified column
df['num_page'] = pd.to_numeric(df['num_page'], errors='coerce')

# Print the DataFrame to see the result
df

,persian_title,english_title,price,net_price,discount_percent,rate,publisher_name,writer,id,ISBN,...,translator,solarh_py,gregorian_py,description,cover_type,print_series,product_features,product_tags,persian_bar,language
0,کتاب گور به گور,As I Lay Dying,130000,110500,15.0,4.227273,'نشر چشمه',['ویلیام فاکنر'],191,9789643621933,...,['نجف دریابندری'],1401,1930,رمان گور به گور، تشریح نفس گیر ویلیام فاکنر اس...,شومیز,28,['نویسنده ی کتاب برنده ی جایزه ی نوبل ادبیات س...,"['ادبیات اقتباسی', 'جایزه نوبل ادبیات', 'ادبیا...",یکی از بهترین رمان های قرن بیستم. تأثیر شگرف د...,['فارسی ']
1,کتاب جزء از کل,A Fraction of the Whole,395000,335750,15.0,3.700000,'نشر چشمه',['استیو تولتز'],43,9786002295002,...,['پیمان خاکسار'],1402,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,جلد سخت,80,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی ']
2,جزء از کل (مجموعه برگ و نوا),A Fraction of the Whole,390000,292500,25.0,3.090000,'نشر چشمه',['استیو تولتز'],71718,9786002295002,...,['پیمان خاکسار'],1402,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,جلد سخت,80,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی ']
3,جزء از کل,A Fraction of the Whole,420000,252000,40.0,3.200000,'ندای معاصر (زرین کلک)',['استیو تولتز'],92408,9786009896486,...,['گلناز سهرابی'],1401,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,جلد سخت,4,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی ']
4,جزء از کل,A Fraction of the Whole,500000,300000,40.0,3.220000,'ندای معاصر (زرین کلک)',['استیو تولتز'],92404,9786009896400,...,['گلناز سهرابی'],1401,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,شومیز,4,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی ']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108007,کتاب تن تن همان تنهاست,Tan Tan,74000,59200,20.0,3.040000,'سیب سرخ',['مهرگان علیدوست'],122030,9786225838338,...,No translator,1401,1920,مجموعه شعر «تن‌تن همان تنهاست» اثر مهرگان علید...,شومیز,1,[],"['ادبیات معاصر', 'جدید ترین کتاب ها', 'شعر', '...",No pb,['فارسی ']
108008,کتاب جنون آرامش بر نقطه فراموشی,Jonoon,23000,18400,20.0,3.890000,'سیب سرخ',سهراب آزادچهر,122028,9786225838406,...,No translator,1401,1920,شاعری که شکارگاه را یافتشکار حراج رسالت هاریزگ...,شومیز,1,[],"['ادبیات معاصر', 'جدید ترین کتاب ها', 'شعر', '...",No pb,['فارسی ']
108009,کتاب شکارچیان زمان : در جستجوی شوالیه,Knight Quest,15000,11250,25.0,3.750000,'سامر',['کریس بلیک'],122046,9786006444437,...,['فرناز صفرزاده'],1395,2013,No description,شومیز,1,[],"['داستان فانتزی', 'ادبیات انگلیس', 'ادبیات داس...",No pb,['فارسی ']
108010,کتاب شکارچیان زمان : نبرد گلادیاتور,Gladiator Clash,15000,11250,25.0,3.700000,'سامر',['کریس بلیک'],122043,9786006444444,...,['زهرا رشیدی'],1395,2013,No description,شومیز,1,[],"['داستان فانتزی', 'ادبیات انگلیس', 'ادبیات داس...",No pb,['فارسی ']
108011,کتاب کتاب عروسکی خرسو قلقلی,Khers,99000,99000,0.0,3.660000,'زنبور',['اسدالله شعبانی'],122051,9786008447740,...,No translator,1395,1920,No description,سلفونی,1,[],"['ادبیات داستانی', 'ادبیات معاصر', 'شعر', 'کتا...",No pb,['فارسی ']

# clean gregorian column
# Assuming 'your_column_name' is the name of the column you want to extract from
df['gregorian_py'] = df['gregorian_py'].str.extract(r'(\d{4})')


# Define a custom function to extract 4 digits or return NaN
def extract_four_digits(cell):
    if isinstance(cell, str) and cell.isdigit() and len(cell) == 4:
        return cell
    else:
        return np.nan

# Apply the custom function to the column and create a new column
df['gregorian_py'] = df['gregorian_py'].apply(extract_four_digits)

# # Remove single quotes from the specified column
# df['gregorian_py'] = df['geregorian_py'].str.replace("'", '')
# # Convert the column to datetime
# df['geregorian_py'] = pd.to_datetime(df['gregorian_py'])

# Print the DataFrame to see the result
df

# Clean Solar-Hijri column
# Remove single quotes from the specified column
df['solarh_py'] = df['solarh_py'].str.replace("'", '')

# Print the DataFrame to see the result
df

In [42]:
# Clean print series
# Extract and keep only digits in the specified column
df['print_series'] = pd.to_numeric(df['print_series'], errors='coerce')

# Print the DataFrame to see the result
df

,persian_title,english_title,price,net_price,discount_percent,rate,publisher_name,writer,id,ISBN,...,translator,solarh_py,gregorian_py,description,cover_type,print_series,product_features,product_tags,persian_bar,language
0,کتاب گور به گور,As I Lay Dying,130000,110500,15.0,4.227273,'نشر چشمه',['ویلیام فاکنر'],191,9789643621933,...,['نجف دریابندری'],1401,1930,رمان گور به گور، تشریح نفس گیر ویلیام فاکنر اس...,شومیز,28,['نویسنده ی کتاب برنده ی جایزه ی نوبل ادبیات س...,"['ادبیات اقتباسی', 'جایزه نوبل ادبیات', 'ادبیا...",یکی از بهترین رمان های قرن بیستم. تأثیر شگرف د...,['فارسی ']
1,کتاب جزء از کل,A Fraction of the Whole,395000,335750,15.0,3.700000,'نشر چشمه',['استیو تولتز'],43,9786002295002,...,['پیمان خاکسار'],1402,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,جلد سخت,80,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی ']
2,جزء از کل (مجموعه برگ و نوا),A Fraction of the Whole,390000,292500,25.0,3.090000,'نشر چشمه',['استیو تولتز'],71718,9786002295002,...,['پیمان خاکسار'],1402,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,جلد سخت,80,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی ']
3,جزء از کل,A Fraction of the Whole,420000,252000,40.0,3.200000,'ندای معاصر (زرین کلک)',['استیو تولتز'],92408,9786009896486,...,['گلناز سهرابی'],1401,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,جلد سخت,4,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی ']
4,جزء از کل,A Fraction of the Whole,500000,300000,40.0,3.220000,'ندای معاصر (زرین کلک)',['استیو تولتز'],92404,9786009896400,...,['گلناز سهرابی'],1401,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,شومیز,4,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی ']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108007,کتاب تن تن همان تنهاست,Tan Tan,74000,59200,20.0,3.040000,'سیب سرخ',['مهرگان علیدوست'],122030,9786225838338,...,No translator,1401,1920,مجموعه شعر «تن‌تن همان تنهاست» اثر مهرگان علید...,شومیز,1,[],"['ادبیات معاصر', 'جدید ترین کتاب ها', 'شعر', '...",No pb,['فارسی ']
108008,کتاب جنون آرامش بر نقطه فراموشی,Jonoon,23000,18400,20.0,3.890000,'سیب سرخ',سهراب آزادچهر,122028,9786225838406,...,No translator,1401,1920,شاعری که شکارگاه را یافتشکار حراج رسالت هاریزگ...,شومیز,1,[],"['ادبیات معاصر', 'جدید ترین کتاب ها', 'شعر', '...",No pb,['فارسی ']
108009,کتاب شکارچیان زمان : در جستجوی شوالیه,Knight Quest,15000,11250,25.0,3.750000,'سامر',['کریس بلیک'],122046,9786006444437,...,['فرناز صفرزاده'],1395,2013,No description,شومیز,1,[],"['داستان فانتزی', 'ادبیات انگلیس', 'ادبیات داس...",No pb,['فارسی ']
108010,کتاب شکارچیان زمان : نبرد گلادیاتور,Gladiator Clash,15000,11250,25.0,3.700000,'سامر',['کریس بلیک'],122043,9786006444444,...,['زهرا رشیدی'],1395,2013,No description,شومیز,1,[],"['داستان فانتزی', 'ادبیات انگلیس', 'ادبیات داس...",No pb,['فارسی ']
108011,کتاب کتاب عروسکی خرسو قلقلی,Khers,99000,99000,0.0,3.660000,'زنبور',['اسدالله شعبانی'],122051,9786008447740,...,No translator,1395,1920,No description,سلفونی,1,[],"['ادبیات داستانی', 'ادبیات معاصر', 'شعر', 'کتا...",No pb,['فارسی ']

In [43]:
# final Look at df 
df

,persian_title,english_title,price,net_price,discount_percent,rate,publisher_name,writer,id,ISBN,...,translator,solarh_py,gregorian_py,description,cover_type,print_series,product_features,product_tags,persian_bar,language
0,کتاب گور به گور,As I Lay Dying,130000,110500,15.0,4.227273,'نشر چشمه',['ویلیام فاکنر'],191,9789643621933,...,['نجف دریابندری'],1401,1930,رمان گور به گور، تشریح نفس گیر ویلیام فاکنر اس...,شومیز,28,['نویسنده ی کتاب برنده ی جایزه ی نوبل ادبیات س...,"['ادبیات اقتباسی', 'جایزه نوبل ادبیات', 'ادبیا...",یکی از بهترین رمان های قرن بیستم. تأثیر شگرف د...,['فارسی ']
1,کتاب جزء از کل,A Fraction of the Whole,395000,335750,15.0,3.700000,'نشر چشمه',['استیو تولتز'],43,9786002295002,...,['پیمان خاکسار'],1402,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,جلد سخت,80,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی ']
2,جزء از کل (مجموعه برگ و نوا),A Fraction of the Whole,390000,292500,25.0,3.090000,'نشر چشمه',['استیو تولتز'],71718,9786002295002,...,['پیمان خاکسار'],1402,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,جلد سخت,80,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی ']
3,جزء از کل,A Fraction of the Whole,420000,252000,40.0,3.200000,'ندای معاصر (زرین کلک)',['استیو تولتز'],92408,9786009896486,...,['گلناز سهرابی'],1401,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,جلد سخت,4,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی ']
4,جزء از کل,A Fraction of the Whole,500000,300000,40.0,3.220000,'ندای معاصر (زرین کلک)',['استیو تولتز'],92404,9786009896400,...,['گلناز سهرابی'],1401,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,شومیز,4,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی ']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108007,کتاب تن تن همان تنهاست,Tan Tan,74000,59200,20.0,3.040000,'سیب سرخ',['مهرگان علیدوست'],122030,9786225838338,...,No translator,1401,1920,مجموعه شعر «تن‌تن همان تنهاست» اثر مهرگان علید...,شومیز,1,[],"['ادبیات معاصر', 'جدید ترین کتاب ها', 'شعر', '...",No pb,['فارسی ']
108008,کتاب جنون آرامش بر نقطه فراموشی,Jonoon,23000,18400,20.0,3.890000,'سیب سرخ',سهراب آزادچهر,122028,9786225838406,...,No translator,1401,1920,شاعری که شکارگاه را یافتشکار حراج رسالت هاریزگ...,شومیز,1,[],"['ادبیات معاصر', 'جدید ترین کتاب ها', 'شعر', '...",No pb,['فارسی ']
108009,کتاب شکارچیان زمان : در جستجوی شوالیه,Knight Quest,15000,11250,25.0,3.750000,'سامر',['کریس بلیک'],122046,9786006444437,...,['فرناز صفرزاده'],1395,2013,No description,شومیز,1,[],"['داستان فانتزی', 'ادبیات انگلیس', 'ادبیات داس...",No pb,['فارسی ']
108010,کتاب شکارچیان زمان : نبرد گلادیاتور,Gladiator Clash,15000,11250,25.0,3.700000,'سامر',['کریس بلیک'],122043,9786006444444,...,['زهرا رشیدی'],1395,2013,No description,شومیز,1,[],"['داستان فانتزی', 'ادبیات انگلیس', 'ادبیات داس...",No pb,['فارسی ']
108011,کتاب کتاب عروسکی خرسو قلقلی,Khers,99000,99000,0.0,3.660000,'زنبور',['اسدالله شعبانی'],122051,9786008447740,...,No translator,1395,1920,No description,سلفونی,1,[],"['ادبیات داستانی', 'ادبیات معاصر', 'شعر', 'کتا...",No pb,['فارسی ']

# data Injection

In [44]:
# Import necessary libraries and modules
from sqlalchemy import MetaData, create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base

In [45]:
# Initialize SQLAlchemy Metadata object
meta = MetaData()
# Define database connection details
USERNAME = 'root'
PASSWORD = '1393ram1393#$'
SERVER = 'localhost'
# Create a SQLAlchemy engine for connecting to the MySQL database
engine = create_engine(f'mysql+pymysql://{USERNAME}:{PASSWORD}@{SERVER}:3306/IranKetab_scraper', echo=True)
conn = engine.connect()

2023-09-30 09:38:07,328 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-09-30 09:38:07,329 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-30 09:38:07,332 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-09-30 09:38:07,333 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-30 09:38:07,334 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-09-30 09:38:07,335 INFO sqlalchemy.engine.Engine [raw sql] {}

In [46]:
# Create a base class for declarative models
Base = declarative_base()

In [47]:
# Create tables in the database based on the defined model classes
Base.metadata.create_all(engine)

2023-09-30 09:38:07,361 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-30 09:38:07,364 INFO sqlalchemy.engine.Engine COMMIT

# Create a session to interact with the database
Session = sessionmaker(bind=engine)
session = Session()

# Read data from a CSV file into a Pandas DataFrame
df = pd.read_csv('cleaned_250M_data.csv')
# Display the DataFrame as a formatted table
table = tabulate(df, headers='keys', tablefmt='grid')
print(table)

# Print the row at index 2 along with its index
row_index = 235
row = df.loc[row_index]
print("Index:", row_index)
print("Row:", row)

In [48]:
# # Create a session to insert data into the tables
# Session = sessionmaker(bind=engine)
# session = Session()
# 
# # Insert data from the DataFrame into the 'book' table
# df[['id', 'ISBN', 'persian_title', 'english_title', 'rate', 'price', 'net_price', 'discount_percent', 
#     'publisher_name', 'size', 'num_page', 'cover_type',
#     'print_series', 'solarh_py', 'gregorian_py']].to_sql('book', con=engine, if_exists='append', index=False)
# 
# # Commit changes and close the session
# session.commit()
# session.close()

# table publisher

In [49]:
file_path = "C:\\Pedram\\quera\\6th week\\Code\\DATABASE\\publishers_all_links.csv"
df_publisher = pd.read_csv(file_path)
df_publisher

        Unnamed: 0  book_id                   name                    linkid
0                0      191               نشر چشمه               33-نشر-چشمه
1                1       43               نشر چشمه               33-نشر-چشمه
2                2    71718               نشر چشمه               33-نشر-چشمه
3                3    92408  ندای معاصر (زرین کلک)  1869-ندای-معاصر-زرین-کلک
4                4    92404  ندای معاصر (زرین کلک)  1869-ندای-معاصر-زرین-کلک
...            ...      ...                    ...                       ...
110488      110488   122030                سیب سرخ              1644-سیب-سرخ
110489      110489   122028                سیب سرخ              1644-سیب-سرخ
110490      110490   122046                   سامر                 1135-سامر
110491      110491   122043                   سامر                 1135-سامر
110492      110492   122051                  زنبور                1601-زنبور

[110493 rows x 4 columns]

In [50]:
# delete unnamed column
df_publisher.drop('Unnamed: 0', axis=1, inplace=True)
df_publisher.drop('book_id', axis=1, inplace=True)

df_publisher

                         name                    linkid
0                    نشر چشمه               33-نشر-چشمه
1                    نشر چشمه               33-نشر-چشمه
2                    نشر چشمه               33-نشر-چشمه
3       ندای معاصر (زرین کلک)  1869-ندای-معاصر-زرین-کلک
4       ندای معاصر (زرین کلک)  1869-ندای-معاصر-زرین-کلک
...                       ...                       ...
110488                سیب سرخ              1644-سیب-سرخ
110489                سیب سرخ              1644-سیب-سرخ
110490                   سامر                 1135-سامر
110491                   سامر                 1135-سامر
110492                  زنبور                1601-زنبور

[110493 rows x 2 columns]

In [51]:
# Clean print series
# Remove non-digit characters from the specified column
df_publisher['linkid'] = df_publisher['linkid'].str.replace(r'\D', '', regex=True)

# Print the DataFrame to see the result
df_publisher

                         name linkid
0                    نشر چشمه     33
1                    نشر چشمه     33
2                    نشر چشمه     33
3       ندای معاصر (زرین کلک)   1869
4       ندای معاصر (زرین کلک)   1869
...                       ...    ...
110488                سیب سرخ   1644
110489                سیب سرخ   1644
110490                   سامر   1135
110491                   سامر   1135
110492                  زنبور   1601

[110493 rows x 2 columns]

In [52]:
# Remove duplicate rows 

# Remove duplicate rows
df_publisher = df_publisher.drop_duplicates()

# Print the DataFrame to see the result
df_publisher

                         name linkid
0                    نشر چشمه     33
3       ندای معاصر (زرین کلک)   1869
5              کتابسرای تندیس     51
6                     لوح فکر     84
7                      نیلوفر     67
...                       ...    ...
110185              نبش استور   4440
110207                  نفحات   4441
110251                نیکوروش   4442
110340               زندگی نو   4444
110449                    دید   4450

[2169 rows x 2 columns]

In [53]:
# Change the data type of the specified column
df_publisher['linkid'] = df_publisher['linkid'].astype(int)  # Change to int

# print df 
df_publisher

C:\Users\parham\AppData\Local\Temp\ipykernel_12340\2542396955.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_publisher['linkid'] = df_publisher['linkid'].astype(int)  # Change to int

                         name  linkid
0                    نشر چشمه      33
3       ندای معاصر (زرین کلک)    1869
5              کتابسرای تندیس      51
6                     لوح فکر      84
7                      نیلوفر      67
...                       ...     ...
110185              نبش استور    4440
110207                  نفحات    4441
110251                نیکوروش    4442
110340               زندگی نو    4444
110449                    دید    4450

[2169 rows x 2 columns]

In [54]:
# Rename columns
new_column_names = {'publisher_name':'name','linkid': 'pub_id'}
df_publisher.rename(columns=new_column_names, inplace=True)
df_publisher = df_publisher.replace()

df_publisher

C:\Users\parham\AppData\Local\Temp\ipykernel_12340\1523439996.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_publisher.rename(columns=new_column_names, inplace=True)

                         name  pub_id
0                    نشر چشمه      33
3       ندای معاصر (زرین کلک)    1869
5              کتابسرای تندیس      51
6                     لوح فکر      84
7                      نیلوفر      67
...                       ...     ...
110185              نبش استور    4440
110207                  نفحات    4441
110251                نیکوروش    4442
110340               زندگی نو    4444
110449                    دید    4450

[2169 rows x 2 columns]

In [55]:
# Create a session to insert data into the tables
Session = sessionmaker(bind=engine)
session = Session()


# Insert data from the DataFrame into publisher table
df_publisher[['name', 'pub_id']].to_sql('publisher', con=engine, if_exists='append', index=False)

# Commit changes and close the session
session.commit()
session.close()

2023-09-30 09:38:07,901 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-30 09:38:07,905 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-09-30 09:38:07,906 INFO sqlalchemy.engine.Engine [generated in 0.00132s] {'table_schema': 'iranketab_scraper', 'table_name': 'publisher'}
2023-09-30 09:38:07,921 INFO sqlalchemy.engine.Engine INSERT INTO publisher (name, pub_id) VALUES (%(name)s, %(pub_id)s)
2023-09-30 09:38:07,922 INFO sqlalchemy.engine.Engine [generated in 0.00665s] ({'name': 'نشر چشمه', 'pub_id': 33}, {'name': 'ندای معاصر (زرین کلک)', 'pub_id': 1869}, {'name': 'کتابسرای تندیس', 'pub_id': 51}, {'name': 'لوح فکر', 'pub_id': 84}, {'name': 'نیلوفر', 'pub_id': 67}, {'name': 'اساطیر', 'pub_id': 86}, {'name': 'نشر ثالث', 'pub_id': 31}, {'name': 'جامی(مصدق)', 'pub_id': 32}  ... displaying 10 of 2169 total bound parameter sets ...  {'name': 'زندگی نو', 'pub_id': 4444}, {'name': 'دید', 'pub_id': 4450})
2023-09-30 09:38:07,994 INFO sqlalchemy.engine.Engine COMMIT

In [56]:
df['publisher_name'] = df['publisher_name'].str.replace("'", '')

# Rename columns
new_column_names = {'name': 'publisher_name'}
df_publisher.rename(columns=new_column_names, inplace=True)
df_publisher = df_publisher.replace()


# Merge the two DataFrames based on 'pub_name'
df_merged = df.merge(df_publisher[['publisher_name', 'pub_id']], on='publisher_name', how='left')

In [57]:
# Extract and keep only digits in the specified column
df_merged['pub_id'] = pd.to_numeric(df_merged['pub_id'], errors='coerce')

In [58]:
# # Change the data type of 'Column1' to float
# df_merged['pub_id'] = df_merged['pub_id'].astype(int)
#

In [59]:
df_merged

,persian_title,english_title,price,net_price,discount_percent,rate,publisher_name,writer,id,ISBN,...,solarh_py,gregorian_py,description,cover_type,print_series,product_features,product_tags,persian_bar,language,pub_id
0,کتاب گور به گور,As I Lay Dying,130000,110500,15.0,4.227273,نشر چشمه,['ویلیام فاکنر'],191,9789643621933,...,1401,1930,رمان گور به گور، تشریح نفس گیر ویلیام فاکنر اس...,شومیز,28,['نویسنده ی کتاب برنده ی جایزه ی نوبل ادبیات س...,"['ادبیات اقتباسی', 'جایزه نوبل ادبیات', 'ادبیا...",یکی از بهترین رمان های قرن بیستم. تأثیر شگرف د...,['فارسی '],33.0
1,کتاب جزء از کل,A Fraction of the Whole,395000,335750,15.0,3.700000,نشر چشمه,['استیو تولتز'],43,9786002295002,...,1402,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,جلد سخت,80,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی '],33.0
2,جزء از کل (مجموعه برگ و نوا),A Fraction of the Whole,390000,292500,25.0,3.090000,نشر چشمه,['استیو تولتز'],71718,9786002295002,...,1402,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,جلد سخت,80,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی '],33.0
3,جزء از کل,A Fraction of the Whole,420000,252000,40.0,3.200000,ندای معاصر (زرین کلک),['استیو تولتز'],92408,9786009896486,...,1401,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,جلد سخت,4,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی '],1869.0
4,جزء از کل,A Fraction of the Whole,500000,300000,40.0,3.220000,ندای معاصر (زرین کلک),['استیو تولتز'],92404,9786009896400,...,1401,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,شومیز,4,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی '],1869.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108016,کتاب تن تن همان تنهاست,Tan Tan,74000,59200,20.0,3.040000,سیب سرخ,['مهرگان علیدوست'],122030,9786225838338,...,1401,1920,مجموعه شعر «تن‌تن همان تنهاست» اثر مهرگان علید...,شومیز,1,[],"['ادبیات معاصر', 'جدید ترین کتاب ها', 'شعر', '...",No pb,['فارسی '],1644.0
108017,کتاب جنون آرامش بر نقطه فراموشی,Jonoon,23000,18400,20.0,3.890000,سیب سرخ,سهراب آزادچهر,122028,9786225838406,...,1401,1920,شاعری که شکارگاه را یافتشکار حراج رسالت هاریزگ...,شومیز,1,[],"['ادبیات معاصر', 'جدید ترین کتاب ها', 'شعر', '...",No pb,['فارسی '],1644.0
108018,کتاب شکارچیان زمان : در جستجوی شوالیه,Knight Quest,15000,11250,25.0,3.750000,سامر,['کریس بلیک'],122046,9786006444437,...,1395,2013,No description,شومیز,1,[],"['داستان فانتزی', 'ادبیات انگلیس', 'ادبیات داس...",No pb,['فارسی '],1135.0
108019,کتاب شکارچیان زمان : نبرد گلادیاتور,Gladiator Clash,15000,11250,25.0,3.700000,سامر,['کریس بلیک'],122043,9786006444444,...,1395,2013,No description,شومیز,1,[],"['داستان فانتزی', 'ادبیات انگلیس', 'ادبیات داس...",No pb,['فارسی '],1135.0
108020,کتاب کتاب عروسکی خرسو قلقلی,Khers,99000,99000,0.0,3.660000,زنبور,['اسدالله شعبانی'],122051,9786008447740,...,1395,1920,No description,سلفونی,1,[],"['ادبیات داستانی', 'ادبیات معاصر', 'شعر', 'کتا...",No pb,['فارسی '],1601.0

In [60]:
# Rename columns
new_column_names = {'pub_id': 'publisher_id'}
df_merged.rename(columns=new_column_names, inplace=True)
df_merged = df_merged.replace()
df_merged

,persian_title,english_title,price,net_price,discount_percent,rate,publisher_name,writer,id,ISBN,...,solarh_py,gregorian_py,description,cover_type,print_series,product_features,product_tags,persian_bar,language,publisher_id
0,کتاب گور به گور,As I Lay Dying,130000,110500,15.0,4.227273,نشر چشمه,['ویلیام فاکنر'],191,9789643621933,...,1401,1930,رمان گور به گور، تشریح نفس گیر ویلیام فاکنر اس...,شومیز,28,['نویسنده ی کتاب برنده ی جایزه ی نوبل ادبیات س...,"['ادبیات اقتباسی', 'جایزه نوبل ادبیات', 'ادبیا...",یکی از بهترین رمان های قرن بیستم. تأثیر شگرف د...,['فارسی '],33.0
1,کتاب جزء از کل,A Fraction of the Whole,395000,335750,15.0,3.700000,نشر چشمه,['استیو تولتز'],43,9786002295002,...,1402,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,جلد سخت,80,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی '],33.0
2,جزء از کل (مجموعه برگ و نوا),A Fraction of the Whole,390000,292500,25.0,3.090000,نشر چشمه,['استیو تولتز'],71718,9786002295002,...,1402,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,جلد سخت,80,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی '],33.0
3,جزء از کل,A Fraction of the Whole,420000,252000,40.0,3.200000,ندای معاصر (زرین کلک),['استیو تولتز'],92408,9786009896486,...,1401,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,جلد سخت,4,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی '],1869.0
4,جزء از کل,A Fraction of the Whole,500000,300000,40.0,3.220000,ندای معاصر (زرین کلک),['استیو تولتز'],92404,9786009896400,...,1401,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,شومیز,4,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی '],1869.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108016,کتاب تن تن همان تنهاست,Tan Tan,74000,59200,20.0,3.040000,سیب سرخ,['مهرگان علیدوست'],122030,9786225838338,...,1401,1920,مجموعه شعر «تن‌تن همان تنهاست» اثر مهرگان علید...,شومیز,1,[],"['ادبیات معاصر', 'جدید ترین کتاب ها', 'شعر', '...",No pb,['فارسی '],1644.0
108017,کتاب جنون آرامش بر نقطه فراموشی,Jonoon,23000,18400,20.0,3.890000,سیب سرخ,سهراب آزادچهر,122028,9786225838406,...,1401,1920,شاعری که شکارگاه را یافتشکار حراج رسالت هاریزگ...,شومیز,1,[],"['ادبیات معاصر', 'جدید ترین کتاب ها', 'شعر', '...",No pb,['فارسی '],1644.0
108018,کتاب شکارچیان زمان : در جستجوی شوالیه,Knight Quest,15000,11250,25.0,3.750000,سامر,['کریس بلیک'],122046,9786006444437,...,1395,2013,No description,شومیز,1,[],"['داستان فانتزی', 'ادبیات انگلیس', 'ادبیات داس...",No pb,['فارسی '],1135.0
108019,کتاب شکارچیان زمان : نبرد گلادیاتور,Gladiator Clash,15000,11250,25.0,3.700000,سامر,['کریس بلیک'],122043,9786006444444,...,1395,2013,No description,شومیز,1,[],"['داستان فانتزی', 'ادبیات انگلیس', 'ادبیات داس...",No pb,['فارسی '],1135.0
108020,کتاب کتاب عروسکی خرسو قلقلی,Khers,99000,99000,0.0,3.660000,زنبور,['اسدالله شعبانی'],122051,9786008447740,...,1395,1920,No description,سلفونی,1,[],"['ادبیات داستانی', 'ادبیات معاصر', 'شعر', 'کتا...",No pb,['فارسی '],1601.0

In [61]:
# Remove duplicate rows based on the specified column
df_merged = df_merged.drop_duplicates(subset='id')

# Print the DataFrame to see the result
df_merged

,persian_title,english_title,price,net_price,discount_percent,rate,publisher_name,writer,id,ISBN,...,solarh_py,gregorian_py,description,cover_type,print_series,product_features,product_tags,persian_bar,language,publisher_id
0,کتاب گور به گور,As I Lay Dying,130000,110500,15.0,4.227273,نشر چشمه,['ویلیام فاکنر'],191,9789643621933,...,1401,1930,رمان گور به گور، تشریح نفس گیر ویلیام فاکنر اس...,شومیز,28,['نویسنده ی کتاب برنده ی جایزه ی نوبل ادبیات س...,"['ادبیات اقتباسی', 'جایزه نوبل ادبیات', 'ادبیا...",یکی از بهترین رمان های قرن بیستم. تأثیر شگرف د...,['فارسی '],33.0
1,کتاب جزء از کل,A Fraction of the Whole,395000,335750,15.0,3.700000,نشر چشمه,['استیو تولتز'],43,9786002295002,...,1402,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,جلد سخت,80,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی '],33.0
2,جزء از کل (مجموعه برگ و نوا),A Fraction of the Whole,390000,292500,25.0,3.090000,نشر چشمه,['استیو تولتز'],71718,9786002295002,...,1402,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,جلد سخت,80,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی '],33.0
3,جزء از کل,A Fraction of the Whole,420000,252000,40.0,3.200000,ندای معاصر (زرین کلک),['استیو تولتز'],92408,9786009896486,...,1401,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,جلد سخت,4,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی '],1869.0
4,جزء از کل,A Fraction of the Whole,500000,300000,40.0,3.220000,ندای معاصر (زرین کلک),['استیو تولتز'],92404,9786009896400,...,1401,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,شومیز,4,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی '],1869.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108016,کتاب تن تن همان تنهاست,Tan Tan,74000,59200,20.0,3.040000,سیب سرخ,['مهرگان علیدوست'],122030,9786225838338,...,1401,1920,مجموعه شعر «تن‌تن همان تنهاست» اثر مهرگان علید...,شومیز,1,[],"['ادبیات معاصر', 'جدید ترین کتاب ها', 'شعر', '...",No pb,['فارسی '],1644.0
108017,کتاب جنون آرامش بر نقطه فراموشی,Jonoon,23000,18400,20.0,3.890000,سیب سرخ,سهراب آزادچهر,122028,9786225838406,...,1401,1920,شاعری که شکارگاه را یافتشکار حراج رسالت هاریزگ...,شومیز,1,[],"['ادبیات معاصر', 'جدید ترین کتاب ها', 'شعر', '...",No pb,['فارسی '],1644.0
108018,کتاب شکارچیان زمان : در جستجوی شوالیه,Knight Quest,15000,11250,25.0,3.750000,سامر,['کریس بلیک'],122046,9786006444437,...,1395,2013,No description,شومیز,1,[],"['داستان فانتزی', 'ادبیات انگلیس', 'ادبیات داس...",No pb,['فارسی '],1135.0
108019,کتاب شکارچیان زمان : نبرد گلادیاتور,Gladiator Clash,15000,11250,25.0,3.700000,سامر,['کریس بلیک'],122043,9786006444444,...,1395,2013,No description,شومیز,1,[],"['داستان فانتزی', 'ادبیات انگلیس', 'ادبیات داس...",No pb,['فارسی '],1135.0
108020,کتاب کتاب عروسکی خرسو قلقلی,Khers,99000,99000,0.0,3.660000,زنبور,['اسدالله شعبانی'],122051,9786008447740,...,1395,1920,No description,سلفونی,1,[],"['ادبیات داستانی', 'ادبیات معاصر', 'شعر', 'کتا...",No pb,['فارسی '],1601.0

In [62]:
# Create a session to insert data into the tables
Session = sessionmaker(bind=engine)
session = Session()

# Insert data from the DataFrame into the 'book' table
df_merged[['id', 'ISBN', 'persian_title', 'english_title', 'rate', 'price', 'net_price', 'discount_percent', 
    'publisher_name','publisher_id', 'size', 'num_page', 'cover_type','print_series',
           'solarh_py', 'gregorian_py', 'language']].to_sql('book', con=engine, if_exists='append', index=False)

# Commit changes and close the session
session.commit()
session.close()

2023-09-30 09:38:09,002 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-30 09:38:09,017 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-09-30 09:38:09,018 INFO sqlalchemy.engine.Engine [cached since 1.114s ago] {'table_schema': 'iranketab_scraper', 'table_name': 'book'}
2023-09-30 09:38:10,917 INFO sqlalchemy.engine.Engine INSERT INTO book (id, `ISBN`, persian_title, english_title, rate, price, net_price, discount_percent, publisher_name, publisher_id, size, num_page, cover_type, print_series, solarh_py, gregorian_py, language) VALUES (%(id)s, %(ISBN)s, %(persian_title)s, %(english_title)s, %(rate)s, %(price)s, %(net_price)s, %(discount_percent)s, %(publisher_name)s, %(publisher_id)s, %(size)s, %(num_page)s, %(cover_type)s, %(print_series)s, %(solarh_py)s, %(gregorian_py)s, %(language)s)
2023-09-30 09:38:10,919 INFO sqlalchemy.engine.Engine [generated in 1.61151s] ({'id': 191, 'ISBN': '9789643621933', 'persian_title': 'کتاب گور به گور', 'english_title': 'As I Lay Dying', 'rate': 4.227273, 'price': 130000, 'net_price': 110500, 'discount_percent': 15.0, 'publisher_name': 'نشر چشمه', 'publisher_id': 33.0, 'size': 'رقعی', 'num_page': 304, 'cover_type': 'شومیز', 'print_series': 28, 'solarh_py': 1401, 'gregorian_py': 1930, 'language': "['فارسی ']"}, {'id': 43, 'ISBN': '9786002295002', 'persian_title': 'کتاب جزء از کل', 'english_title': 'A Fraction of the Whole', 'rate': 3.7, 'price': 395000, 'net_price': 335750, 'discount_percent': 15.0, 'publisher_name': 'نشر چشمه', 'publisher_id': 33.0, 'size': 'رقعی', 'num_page': 656, 'cover_type': 'جلد سخت', 'print_series': 80, 'solarh_py': 1402, 'gregorian_py': 2008, 'language': "['فارسی ']"}, {'id': 71718, 'ISBN': '9786002295002', 'persian_title': 'جزء از کل (مجموعه برگ و نوا)', 'english_title': 'A Fraction of the Whole', 'rate': 3.09, 'price': 390000, 'net_price': 292500, 'discount_percent': 25.0, 'publisher_name': 'نشر چشمه', 'publisher_id': 33.0, 'size': 'رقعی', 'num_page': 779, 'cover_type': 'جلد سخت', 'print_series': 80, 'solarh_py': 1402, 'gregorian_py': 2008, 'language': "['فارسی ']"}, {'id': 92408, 'ISBN': '9786009896486', 'persian_title': 'جزء از کل', 'english_title': 'A Fraction of the Whole', 'rate': 3.2, 'price': 420000, 'net_price': 252000, 'discount_percent': 40.0, 'publisher_name': 'ندای معاصر (زرین کلک)', 'publisher_id': 1869.0, 'size': 'رقعی', 'num_page': 544, 'cover_type': 'جلد سخت', 'print_series': 4, 'solarh_py': 1401, 'gregorian_py': 2008, 'language': "['فارسی ']"}, {'id': 92404, 'ISBN': '9786009896400', 'persian_title': 'جزء از کل', 'english_title': 'A Fraction of the Whole', 'rate': 3.22, 'price': 500000, 'net_price': 300000, 'discount_percent': 40.0, 'publisher_name': 'ندای معاصر (زرین کلک)', 'publisher_id': 1869.0, 'size': 'رقعی', 'num_page': 544, 'cover_type': 'شومیز', 'print_series': 4, 'solarh_py': 1401, 'gregorian_py': 2008, 'language': "['فارسی ']"}, {'id': 223, 'ISBN': '9789648578052', 'persian_title': 'کتاب گفتگو در کاتدرال', 'english_title': 'Conversation in the Cathedral', 'rate': 4.32, 'price': 280000, 'net_price': 224000, 'discount_percent': 20.0, 'publisher_name': 'لوح فکر', 'publisher_id': 84.0, 'size': 'رقعی', 'num_page': 706, 'cover_type': 'جلد سخت', 'print_series': 8, 'solarh_py': 1401, 'gregorian_py': 1969, 'language': "['فارسی ']"}, {'id': 62623, 'ISBN': '9789644481611', 'persian_title': 'کتاب در تنگ', 'english_title': 'Strait Is the Gate', 'rate': 3.64, 'price': 98000, 'net_price': 83300, 'discount_percent': 15.0, 'publisher_name': 'نیلوفر', 'publisher_id': 67.0, 'size': 'رقعی', 'num_page': 184, 'cover_type': 'شومیز', 'print_series': 6, 'solarh_py': 1400, 'gregorian_py': 1909, 'language': "['فارسی ']"}, {'id': 242, 'ISBN': '9789643311490', 'persian_title': 'در تنگ', 'english_title': 'Strait Is the Gate', 'rate': 3.6, 'price': 50000, 'net_price': 40000, 'discount_percent': 20.0, 'publisher_name': 'اساطیر', 'publisher_id': 86.0, 'size': 'رقعی', 'num_page': 200, 'cover_type': 'شومیز', 'print_series': 2, 'solarh_py': 1392, 'gregorian_py': 1909, 'language': "['فارسی ']"}  ... displaying 10 of 108011 total bound parameter sets ...  {'id': 122043, 'ISBN': '9786006444444', 'persian_title': 'کتاب شکارچیان زمان : نبرد گلادیاتور', 'english_title': 'Gladiator Clash', 'rate': 3.7, 'price': 15000, 'net_price': 11250, 'discount_percent': 25.0, 'publisher_name': 'سامر', 'publisher_id': 1135.0, 'size': 'رقعی', 'num_page': 124, 'cover_type': 'شومیز', 'print_series': 1, 'solarh_py': 1395, 'gregorian_py': 2013, 'language': "['فارسی ']"}, {'id': 122051, 'ISBN': '9786008447740', 'persian_title': 'کتاب کتاب عروسکی خرسو قلقلی', 'english_title': 'Khers', 'rate': 3.66, 'price': 99000, 'net_price': 99000, 'discount_percent': 0.0, 'publisher_name': 'زنبور', 'publisher_id': 1601.0, 'size': 'خشتی', 'num_page': 10, 'cover_type': 'سلفونی', 'print_series': 1, 'solarh_py': 1395, 'gregorian_py': 1920, 'language': "['فارسی ']"})
2023-09-30 09:38:18,267 INFO sqlalchemy.engine.Engine COMMIT

# table book description

In [63]:
df_merged

,persian_title,english_title,price,net_price,discount_percent,rate,publisher_name,writer,id,ISBN,...,solarh_py,gregorian_py,description,cover_type,print_series,product_features,product_tags,persian_bar,language,publisher_id
0,کتاب گور به گور,As I Lay Dying,130000,110500,15.0,4.227273,نشر چشمه,['ویلیام فاکنر'],191,9789643621933,...,1401,1930,رمان گور به گور، تشریح نفس گیر ویلیام فاکنر اس...,شومیز,28,['نویسنده ی کتاب برنده ی جایزه ی نوبل ادبیات س...,"['ادبیات اقتباسی', 'جایزه نوبل ادبیات', 'ادبیا...",یکی از بهترین رمان های قرن بیستم. تأثیر شگرف د...,['فارسی '],33.0
1,کتاب جزء از کل,A Fraction of the Whole,395000,335750,15.0,3.700000,نشر چشمه,['استیو تولتز'],43,9786002295002,...,1402,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,جلد سخت,80,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی '],33.0
2,جزء از کل (مجموعه برگ و نوا),A Fraction of the Whole,390000,292500,25.0,3.090000,نشر چشمه,['استیو تولتز'],71718,9786002295002,...,1402,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,جلد سخت,80,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی '],33.0
3,جزء از کل,A Fraction of the Whole,420000,252000,40.0,3.200000,ندای معاصر (زرین کلک),['استیو تولتز'],92408,9786009896486,...,1401,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,جلد سخت,4,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی '],1869.0
4,جزء از کل,A Fraction of the Whole,500000,300000,40.0,3.220000,ندای معاصر (زرین کلک),['استیو تولتز'],92404,9786009896400,...,1401,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,شومیز,4,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی '],1869.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108016,کتاب تن تن همان تنهاست,Tan Tan,74000,59200,20.0,3.040000,سیب سرخ,['مهرگان علیدوست'],122030,9786225838338,...,1401,1920,مجموعه شعر «تن‌تن همان تنهاست» اثر مهرگان علید...,شومیز,1,[],"['ادبیات معاصر', 'جدید ترین کتاب ها', 'شعر', '...",No pb,['فارسی '],1644.0
108017,کتاب جنون آرامش بر نقطه فراموشی,Jonoon,23000,18400,20.0,3.890000,سیب سرخ,سهراب آزادچهر,122028,9786225838406,...,1401,1920,شاعری که شکارگاه را یافتشکار حراج رسالت هاریزگ...,شومیز,1,[],"['ادبیات معاصر', 'جدید ترین کتاب ها', 'شعر', '...",No pb,['فارسی '],1644.0
108018,کتاب شکارچیان زمان : در جستجوی شوالیه,Knight Quest,15000,11250,25.0,3.750000,سامر,['کریس بلیک'],122046,9786006444437,...,1395,2013,No description,شومیز,1,[],"['داستان فانتزی', 'ادبیات انگلیس', 'ادبیات داس...",No pb,['فارسی '],1135.0
108019,کتاب شکارچیان زمان : نبرد گلادیاتور,Gladiator Clash,15000,11250,25.0,3.700000,سامر,['کریس بلیک'],122043,9786006444444,...,1395,2013,No description,شومیز,1,[],"['داستان فانتزی', 'ادبیات انگلیس', 'ادبیات داس...",No pb,['فارسی '],1135.0
108020,کتاب کتاب عروسکی خرسو قلقلی,Khers,99000,99000,0.0,3.660000,زنبور,['اسدالله شعبانی'],122051,9786008447740,...,1395,1920,No description,سلفونی,1,[],"['ادبیات داستانی', 'ادبیات معاصر', 'شعر', 'کتا...",No pb,['فارسی '],1601.0

In [64]:
# Rename columns
new_column_names = {'id':'book_id','description': 'content'}
df_merged.rename(columns=new_column_names, inplace=True)
df_merged = df_merged.replace()
df_merged

C:\Users\parham\AppData\Local\Temp\ipykernel_12340\1925110425.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merged.rename(columns=new_column_names, inplace=True)

,persian_title,english_title,price,net_price,discount_percent,rate,publisher_name,writer,book_id,ISBN,...,solarh_py,gregorian_py,content,cover_type,print_series,product_features,product_tags,persian_bar,language,publisher_id
0,کتاب گور به گور,As I Lay Dying,130000,110500,15.0,4.227273,نشر چشمه,['ویلیام فاکنر'],191,9789643621933,...,1401,1930,رمان گور به گور، تشریح نفس گیر ویلیام فاکنر اس...,شومیز,28,['نویسنده ی کتاب برنده ی جایزه ی نوبل ادبیات س...,"['ادبیات اقتباسی', 'جایزه نوبل ادبیات', 'ادبیا...",یکی از بهترین رمان های قرن بیستم. تأثیر شگرف د...,['فارسی '],33.0
1,کتاب جزء از کل,A Fraction of the Whole,395000,335750,15.0,3.700000,نشر چشمه,['استیو تولتز'],43,9786002295002,...,1402,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,جلد سخت,80,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی '],33.0
2,جزء از کل (مجموعه برگ و نوا),A Fraction of the Whole,390000,292500,25.0,3.090000,نشر چشمه,['استیو تولتز'],71718,9786002295002,...,1402,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,جلد سخت,80,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی '],33.0
3,جزء از کل,A Fraction of the Whole,420000,252000,40.0,3.200000,ندای معاصر (زرین کلک),['استیو تولتز'],92408,9786009896486,...,1401,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,جلد سخت,4,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی '],1869.0
4,جزء از کل,A Fraction of the Whole,500000,300000,40.0,3.220000,ندای معاصر (زرین کلک),['استیو تولتز'],92404,9786009896400,...,1401,2008,جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه...,شومیز,4,['برنده جایزه ی NSW Premier سال 2009'],"['جایزه ی ان اس دبلیو پرایمر', 'ادبیات استرالی...",داستانی ارزشمند از یک پدر و پسر، آکنده از حواد...,['فارسی '],1869.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108016,کتاب تن تن همان تنهاست,Tan Tan,74000,59200,20.0,3.040000,سیب سرخ,['مهرگان علیدوست'],122030,9786225838338,...,1401,1920,مجموعه شعر «تن‌تن همان تنهاست» اثر مهرگان علید...,شومیز,1,[],"['ادبیات معاصر', 'جدید ترین کتاب ها', 'شعر', '...",No pb,['فارسی '],1644.0
108017,کتاب جنون آرامش بر نقطه فراموشی,Jonoon,23000,18400,20.0,3.890000,سیب سرخ,سهراب آزادچهر,122028,9786225838406,...,1401,1920,شاعری که شکارگاه را یافتشکار حراج رسالت هاریزگ...,شومیز,1,[],"['ادبیات معاصر', 'جدید ترین کتاب ها', 'شعر', '...",No pb,['فارسی '],1644.0
108018,کتاب شکارچیان زمان : در جستجوی شوالیه,Knight Quest,15000,11250,25.0,3.750000,سامر,['کریس بلیک'],122046,9786006444437,...,1395,2013,No description,شومیز,1,[],"['داستان فانتزی', 'ادبیات انگلیس', 'ادبیات داس...",No pb,['فارسی '],1135.0
108019,کتاب شکارچیان زمان : نبرد گلادیاتور,Gladiator Clash,15000,11250,25.0,3.700000,سامر,['کریس بلیک'],122043,9786006444444,...,1395,2013,No description,شومیز,1,[],"['داستان فانتزی', 'ادبیات انگلیس', 'ادبیات داس...",No pb,['فارسی '],1135.0
108020,کتاب کتاب عروسکی خرسو قلقلی,Khers,99000,99000,0.0,3.660000,زنبور,['اسدالله شعبانی'],122051,9786008447740,...,1395,1920,No description,سلفونی,1,[],"['ادبیات داستانی', 'ادبیات معاصر', 'شعر', 'کتا...",No pb,['فارسی '],1601.0

In [65]:
# Create a session to insert data into the tables
Session = sessionmaker(bind=engine)
session = Session()

# Insert data from the DataFrame into book_description table
df_merged[['book_id', 'content']].to_sql('book_description', con=engine, if_exists='append', index=False)

# Commit changes and close the session
session.commit()
session.close()

2023-09-30 09:38:18,910 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-30 09:38:18,917 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-09-30 09:38:18,919 INFO sqlalchemy.engine.Engine [cached since 11.01s ago] {'table_schema': 'iranketab_scraper', 'table_name': 'book_description'}
2023-09-30 09:38:19,528 INFO sqlalchemy.engine.Engine INSERT INTO book_description (book_id, content) VALUES (%(book_id)s, %(content)s)
2023-09-30 09:38:19,529 INFO sqlalchemy.engine.Engine [generated in 0.52214s] ({'book_id': 191, 'content': 'رمان گور به گور، تشریح نفس گیر ویلیام فاکنر است از داستان حماسه گونه و سفر ادیسه وار بوندرن ها که برای به خاک سپاری همسر و مادر خانواده، آدی، مسیری ط ... (715 characters truncated) ... ، باد و بارانی سخت و شدید درگرفته و بالا آمدن سطح رودخانه ها، پل های منتهی به جفرسون، محل به خاک سپاری مادر خانواده و مقصد بوندرن ها، را خراب می کند.'}, {'book_id': 43, 'content': 'جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه رفتاری با پدر خود که مبتلا به بیماری پارانویا بود، داشته باشد؛ برای او دلسوزی کند، از او متنفر باشد، ب ... (967 characters truncated) ... استان به یادماندنی و تکان دهنده ی پدر و پسری است که تقارن و شباهت روحی و فکری شان، بر همه ی کمبود ها و کاستی های پرتعداد آن ها، توفق و برتری می یابد.'}, {'book_id': 71718, 'content': 'جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه رفتاری با پدر خود که مبتلا به بیماری پارانویا بود، داشته باشد؛ برای او دلسوزی کند، از او متنفر باشد، ب ... (967 characters truncated) ... استان به یادماندنی و تکان دهنده ی پدر و پسری است که تقارن و شباهت روحی و فکری شان، بر همه ی کمبود ها و کاستی های پرتعداد آن ها، توفق و برتری می یابد.'}, {'book_id': 92408, 'content': 'جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه رفتاری با پدر خود که مبتلا به بیماری پارانویا بود، داشته باشد؛ برای او دلسوزی کند، از او متنفر باشد، ب ... (967 characters truncated) ... استان به یادماندنی و تکان دهنده ی پدر و پسری است که تقارن و شباهت روحی و فکری شان، بر همه ی کمبود ها و کاستی های پرتعداد آن ها، توفق و برتری می یابد.'}, {'book_id': 92404, 'content': 'جسپر دین، بیشتر عمرش نمی توانست تصمیم بگیرد چه رفتاری با پدر خود که مبتلا به بیماری پارانویا بود، داشته باشد؛ برای او دلسوزی کند، از او متنفر باشد، ب ... (967 characters truncated) ... استان به یادماندنی و تکان دهنده ی پدر و پسری است که تقارن و شباهت روحی و فکری شان، بر همه ی کمبود ها و کاستی های پرتعداد آن ها، توفق و برتری می یابد.'}, {'book_id': 223, 'content': 'رمان گفتگو در کاتدرال، حکایتی به یادماندنی درباره ی قدرت، فساد و جست وجویی پیچیده برای یافتن هویت است. داستان کتاب در دهه ی 1950 و در خلال حکومت دیکت ... (503 characters truncated) ...  است که به موضوعاتی بنیادین می پردازد: هویت و نقش شهروندان تحت یک حکومت و این که فقدان آزادی های مدنی چگونه بر ذهن و فکر یک ملت، زخمی جاودانه می زند.'}, {'book_id': 62623, 'content': 'رمان در تنگ که برای اولین بار در سال 1909 انتشار یافت، رمانی است که به شکست عشق در مواجهه با تنگنای فلسفه ی اخلاقی آیین پروتستان می پردازد. پسری دوست ... (514 characters truncated) ... هم های ایجاد شده میان دو نفر، استفاده می کند. رمان در تنگ، بازسازی خاطره ی خواستگاری نافرجام آندره ژید از دخترعمویش، بین سال های 1888 و 1891 نیز هست.'}, {'book_id': 242, 'content': 'رمان در تنگ که برای اولین بار در سال 1909 انتشار یافت، رمانی است که به شکست عشق در مواجهه با تنگنای فلسفه ی اخلاقی آیین پروتستان می پردازد. پسری دوست ... (514 characters truncated) ... هم های ایجاد شده میان دو نفر، استفاده می کند. رمان در تنگ، بازسازی خاطره ی خواستگاری نافرجام آندره ژید از دخترعمویش، بین سال های 1888 و 1891 نیز هست.'}  ... displaying 10 of 108011 total bound parameter sets ...  {'book_id': 122043, 'content': 'No description'}, {'book_id': 122051, 'content': 'No description'})
2023-09-30 09:38:29,901 INFO sqlalchemy.engine.Engine COMMIT

# table person

In [66]:
file_path = "C:\\Pedram\\quera\\6th week\\Code\\DATABASE\\all_persons all.csv"
df_person = pd.read_csv(file_path)
df_person

        Unnamed: 0  book_id            name        role
0                0      191   نجف دریابندری  translator
1                1      191    ویلیام فاکنر      author
2                2       43    پیمان خاکسار  translator
3                3       43     استیو تولتز      author
4                4    71718    پیمان خاکسار  translator
...            ...      ...             ...         ...
174218      174218   122046   فرناز صفرزاده  translator
174219      174219   122046       کریس بلیک      author
174220      174220   122043      زهرا رشیدی  translator
174221      174221   122043       کریس بلیک      author
174222      174222   122051  اسدالله شعبانی      author

[174223 rows x 4 columns]

In [67]:
df_person.drop('Unnamed: 0', axis=1, inplace=True)

df_person

        book_id            name        role
0           191   نجف دریابندری  translator
1           191    ویلیام فاکنر      author
2            43    پیمان خاکسار  translator
3            43     استیو تولتز      author
4         71718    پیمان خاکسار  translator
...         ...             ...         ...
174218   122046   فرناز صفرزاده  translator
174219   122046       کریس بلیک      author
174220   122043      زهرا رشیدی  translator
174221   122043       کریس بلیک      author
174222   122051  اسدالله شعبانی      author

[174223 rows x 3 columns]

In [68]:

# Define a function to check if the role is "writer"
def is_writer(role):
    return 1 if role == 'author' else 0

# Define a function to check if the role is "translator"
def is_translator(role):
    return 1 if role == 'translator' else 0

# Create new columns "is_writer" and "is_translator" based on the "role" column
df_person['is_writer'] = df_person['role'].apply(lambda x: is_writer(x))
df_person['is_translator'] = df_person['role'].apply(lambda x: is_translator(x))

# Print the DataFrame to see the result
df_person

        book_id            name        role  is_writer  is_translator
0           191   نجف دریابندری  translator          0              1
1           191    ویلیام فاکنر      author          1              0
2            43    پیمان خاکسار  translator          0              1
3            43     استیو تولتز      author          1              0
4         71718    پیمان خاکسار  translator          0              1
...         ...             ...         ...        ...            ...
174218   122046   فرناز صفرزاده  translator          0              1
174219   122046       کریس بلیک      author          1              0
174220   122043      زهرا رشیدی  translator          0              1
174221   122043       کریس بلیک      author          1              0
174222   122051  اسدالله شعبانی      author          1              0

[174223 rows x 5 columns]

In [69]:
df_person.drop('book_id', axis=1, inplace=True)
df_person.drop('role', axis=1, inplace=True)
# Remove duplicates based on the 'name' column and select the largest value from each other column
df_result = df_person.groupby('name').agg(lambda x: x.max()).reset_index()

# # Remove duplicate rows based on the specified column
# 
# df_person_new = df_person.drop_duplicates(subset='name')
# df_person_new
df_result

                 name  is_writer  is_translator
0       آ اس ماجومدار          1              0
1          آ ای آدامز          1              0
2      آ بوار لوکوآنه          1              0
3             آ دیوسو          1              0
4             آ ر هری          1              0
...               ...        ...            ...
53512    یی یوان تانگ          1              0
53513       یی یون لی          1              0
53514       ییری سیپک          1              0
53515     ییلماز گونی          1              0
53516      ییپ بن هار          1              0

[53517 rows x 3 columns]

In [70]:
# Set the starting ID value
start_id = 10000

# Add an auto-incrementing ID column starting from 1000
df_result['person_id'] = range(start_id, start_id + len(df_result))


# Print the DataFrame to see the result
df_result

                 name  is_writer  is_translator  person_id
0       آ اس ماجومدار          1              0      10000
1          آ ای آدامز          1              0      10001
2      آ بوار لوکوآنه          1              0      10002
3             آ دیوسو          1              0      10003
4             آ ر هری          1              0      10004
...               ...        ...            ...        ...
53512    یی یوان تانگ          1              0      63512
53513       یی یون لی          1              0      63513
53514       ییری سیپک          1              0      63514
53515     ییلماز گونی          1              0      63515
53516      ییپ بن هار          1              0      63516

[53517 rows x 4 columns]

In [71]:
# Create a session to insert data into the tables
Session = sessionmaker(bind=engine)
session = Session()

# Insert data from the DataFrame into person table
df_result[[ 'person_id','name','is_writer', 'is_translator']].to_sql('person', con=engine, if_exists='append', index=False)

# Commit changes and close the session
session.commit()
session.close()

2023-09-30 09:38:35,130 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-30 09:38:35,140 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-09-30 09:38:35,142 INFO sqlalchemy.engine.Engine [cached since 27.24s ago] {'table_schema': 'iranketab_scraper', 'table_name': 'person'}
2023-09-30 09:38:35,545 INFO sqlalchemy.engine.Engine INSERT INTO person (person_id, name, is_writer, is_translator) VALUES (%(person_id)s, %(name)s, %(is_writer)s, %(is_translator)s)
2023-09-30 09:38:35,546 INFO sqlalchemy.engine.Engine [generated in 0.33750s] ({'person_id': 10000, 'name': 'آ اس ماجومدار', 'is_writer': 1, 'is_translator': 0}, {'person_id': 10001, 'name': 'آ ای آدامز', 'is_writer': 1, 'is_translator': 0}, {'person_id': 10002, 'name': 'آ بوار لوکوآنه', 'is_writer': 1, 'is_translator': 0}, {'person_id': 10003, 'name': 'آ دیوسو', 'is_writer': 1, 'is_translator': 0}, {'person_id': 10004, 'name': 'آ ر هری', 'is_writer': 1, 'is_translator': 0}, {'person_id': 10005, 'name': 'آ ر گرنی', 'is_writer': 1, 'is_translator': 0}, {'person_id': 10006, 'name': 'آ نیکلایف', 'is_writer': 1, 'is_translator': 0}, {'person_id': 10007, 'name': 'آ و آذرمسا', 'is_writer': 0, 'is_translator': 1}  ... displaying 10 of 53517 total bound parameter sets ...  {'person_id': 63515, 'name': 'ییلماز گونی', 'is_writer': 1, 'is_translator': 0}, {'person_id': 63516, 'name': 'ییپ بن هار', 'is_writer': 1, 'is_translator': 0})
2023-09-30 09:38:36,637 INFO sqlalchemy.engine.Engine COMMIT

# table of writer and translator

In [72]:
file_path = "C:\\Pedram\\quera\\6th week\\Code\\DATABASE\\all_persons all.csv"
df_person = pd.read_csv(file_path)
df_person

        Unnamed: 0  book_id            name        role
0                0      191   نجف دریابندری  translator
1                1      191    ویلیام فاکنر      author
2                2       43    پیمان خاکسار  translator
3                3       43     استیو تولتز      author
4                4    71718    پیمان خاکسار  translator
...            ...      ...             ...         ...
174218      174218   122046   فرناز صفرزاده  translator
174219      174219   122046       کریس بلیک      author
174220      174220   122043      زهرا رشیدی  translator
174221      174221   122043       کریس بلیک      author
174222      174222   122051  اسدالله شعبانی      author

[174223 rows x 4 columns]

In [73]:
df_person.drop('Unnamed: 0', axis=1, inplace=True)

df_person

        book_id            name        role
0           191   نجف دریابندری  translator
1           191    ویلیام فاکنر      author
2            43    پیمان خاکسار  translator
3            43     استیو تولتز      author
4         71718    پیمان خاکسار  translator
...         ...             ...         ...
174218   122046   فرناز صفرزاده  translator
174219   122046       کریس بلیک      author
174220   122043      زهرا رشیدی  translator
174221   122043       کریس بلیک      author
174222   122051  اسدالله شعبانی      author

[174223 rows x 3 columns]

In [74]:

# Define a function to check if the role is "writer"
def is_writer(role):
    return 1 if role == 'author' else 0

# Define a function to check if the role is "translator"
def is_translator(role):
    return 1 if role == 'translator' else 0

# Create new columns "is_writer" and "is_translator" based on the "role" column
df_person['is_writer'] = df_person['role'].apply(lambda x: is_writer(x))
df_person['is_translator'] = df_person['role'].apply(lambda x: is_translator(x))

# Print the DataFrame to see the result
df_person

        book_id            name        role  is_writer  is_translator
0           191   نجف دریابندری  translator          0              1
1           191    ویلیام فاکنر      author          1              0
2            43    پیمان خاکسار  translator          0              1
3            43     استیو تولتز      author          1              0
4         71718    پیمان خاکسار  translator          0              1
...         ...             ...         ...        ...            ...
174218   122046   فرناز صفرزاده  translator          0              1
174219   122046       کریس بلیک      author          1              0
174220   122043      زهرا رشیدی  translator          0              1
174221   122043       کریس بلیک      author          1              0
174222   122051  اسدالله شعبانی      author          1              0

[174223 rows x 5 columns]

In [75]:

df_result.drop('is_writer', axis=1, inplace=True)
df_result.drop('is_translator', axis=1, inplace=True)
df_result

                 name  person_id
0       آ اس ماجومدار      10000
1          آ ای آدامز      10001
2      آ بوار لوکوآنه      10002
3             آ دیوسو      10003
4             آ ر هری      10004
...               ...        ...
53512    یی یوان تانگ      63512
53513       یی یون لی      63513
53514       ییری سیپک      63514
53515     ییلماز گونی      63515
53516      ییپ بن هار      63516

[53517 rows x 2 columns]

In [76]:
 # Merge the DataFrames based on the 'name' column
df_writer_translator = df_person.merge(df_result, on='name', how='left')

# Print the result DataFrame
df_writer_translator

,book_id,name,role,is_writer,is_translator,person_id
0,191,نجف دریابندری,translator,0,1,53793
1,191,ویلیام فاکنر,author,1,0,57367
2,43,پیمان خاکسار,translator,0,1,59182
3,43,استیو تولتز,author,1,0,13981
4,71718,پیمان خاکسار,translator,0,1,59182
...,...,...,...,...,...,...
174218,122046,فرناز صفرزاده,translator,0,1,40723
174219,122046,کریس بلیک,author,1,0,60856
174220,122043,زهرا رشیدی,translator,0,1,29973
174221,122043,کریس بلیک,author,1,0,60856
174222,122051,اسدالله شعبانی,author,1,0,14169

In [77]:
# find df book writer 
df_writer = df_writer_translator [df_writer_translator['is_writer'] == 1]
df_writer

        book_id            name    role  is_writer  is_translator  person_id
1           191    ویلیام فاکنر  author          1              0      57367
3            43     استیو تولتز  author          1              0      13981
5         71718     استیو تولتز  author          1              0      13981
7         92408     استیو تولتز  author          1              0      13981
9         92404     استیو تولتز  author          1              0      13981
...         ...             ...     ...        ...            ...        ...
174215   122041       کریس بلیک  author          1              0      60856
174217   122030  مهرگان علیدوست  author          1              0      51725
174219   122046       کریس بلیک  author          1              0      60856
174221   122043       کریس بلیک  author          1              0      60856
174222   122051  اسدالله شعبانی  author          1              0      14169

[112709 rows x 6 columns]

In [78]:
# clean and rename column for book writer table 
# Rename columns
new_column_names = {'person_id': 'writer_id'}
df_writer.rename(columns=new_column_names, inplace=True)
df_writer = df_writer.replace()

df_writer.drop('is_writer', axis=1, inplace=True)
df_writer.drop('is_translator', axis=1, inplace=True)
df_writer.drop('name', axis=1, inplace=True)
df_writer.drop('role', axis=1, inplace=True)
df_writer

C:\Users\parham\AppData\Local\Temp\ipykernel_12340\1227152426.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_writer.rename(columns=new_column_names, inplace=True)

        book_id  writer_id
1           191      57367
3            43      13981
5         71718      13981
7         92408      13981
9         92404      13981
...         ...        ...
174215   122041      60856
174217   122030      51725
174219   122046      60856
174221   122043      60856
174222   122051      14169

[112709 rows x 2 columns]

In [79]:

# Check if any 'id' values in df2 are not in df1
not_in_df1 = df_writer[~df_writer['book_id'].isin(df_merged['book_id'])]

# Print the 'id' values not in df1
not_in_df1

# Remove rows from df1 that match 'id' values in not_in_df1
df_writer = df_writer[~df_writer['book_id'].isin(not_in_df1['book_id'])]

# Print the updated df1
df_writer

        book_id  writer_id
1           191      57367
3            43      13981
5         71718      13981
7         92408      13981
9         92404      13981
...         ...        ...
174215   122041      60856
174217   122030      51725
174219   122046      60856
174221   122043      60856
174222   122051      14169

[111215 rows x 2 columns]

In [80]:
# Create a session to insert data into the tables
Session = sessionmaker(bind=engine)
session = Session()

# Insert data from the DataFrame into person table
# Insert data from the DataFrame into book_writer table
df_writer[['book_id', 'writer_id']].to_sql('book_writer', con=engine, if_exists='append', index=False)


# Commit changes and close the session
session.commit()
session.close()

2023-09-30 09:38:37,279 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-30 09:38:37,281 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-09-30 09:38:37,284 INFO sqlalchemy.engine.Engine [cached since 29.38s ago] {'table_schema': 'iranketab_scraper', 'table_name': 'book_writer'}
2023-09-30 09:38:38,072 INFO sqlalchemy.engine.Engine INSERT INTO book_writer (book_id, writer_id) VALUES (%(book_id)s, %(writer_id)s)
2023-09-30 09:38:38,073 INFO sqlalchemy.engine.Engine [generated in 0.71304s] ({'book_id': 191, 'writer_id': 57367}, {'book_id': 43, 'writer_id': 13981}, {'book_id': 71718, 'writer_id': 13981}, {'book_id': 92408, 'writer_id': 13981}, {'book_id': 92404, 'writer_id': 13981}, {'book_id': 223, 'writer_id': 43912}, {'book_id': 62623, 'writer_id': 11759}, {'book_id': 242, 'writer_id': 11759}  ... displaying 10 of 111215 total bound parameter sets ...  {'book_id': 122043, 'writer_id': 60856}, {'book_id': 122051, 'writer_id': 14169})
2023-09-30 09:38:41,256 INFO sqlalchemy.engine.Engine COMMIT

In [81]:
# find df book translator 
df_translator = df_writer_translator [df_writer_translator['is_translator'] == 1]
df_translator

,book_id,name,role,is_writer,is_translator,person_id
0,191,نجف دریابندری,translator,0,1,53793
2,43,پیمان خاکسار,translator,0,1,59182
4,71718,پیمان خاکسار,translator,0,1,59182
6,92408,گلناز سهرابی,translator,0,1,62611
8,92404,گلناز سهرابی,translator,0,1,62611
...,...,...,...,...,...,...
174212,122026,علیرضا فخرکننده,translator,0,1,38634
174214,122041,زهرا رشیدی,translator,0,1,29973
174216,122044,فرناز صفرزاده,translator,0,1,40723
174218,122046,فرناز صفرزاده,translator,0,1,40723
174220,122043,زهرا رشیدی,translator,0,1,29973

In [82]:
# clean and rename column for book translator table 
# Rename columns
new_column_names = {'person_id': 'translator_id'}
df_translator.rename(columns=new_column_names, inplace=True)
df_translator = df_translator.replace()
df_translator.drop('is_writer', axis=1, inplace=True)
df_translator.drop('is_translator', axis=1, inplace=True)
df_translator.drop('name', axis=1, inplace=True)
df_translator.drop('role', axis=1, inplace=True)
df_translator

C:\Users\parham\AppData\Local\Temp\ipykernel_12340\473283614.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_translator.rename(columns=new_column_names, inplace=True)

        book_id  translator_id
0           191          53793
2            43          59182
4         71718          59182
6         92408          62611
8         92404          62611
...         ...            ...
174212   122026          38634
174214   122041          29973
174216   122044          40723
174218   122046          40723
174220   122043          29973

[61514 rows x 2 columns]

In [83]:

# Check if any 'id' values in df2 are not in df1
not_in_df2 = df_translator[~df_translator['book_id'].isin(df_merged['book_id'])]

# Print the 'id' values not in df1
not_in_df2

# Remove rows from df1 that match 'id' values in not_in_df1
df_translator = df_translator[~df_translator['book_id'].isin(not_in_df2['book_id'])]

# Print the updated df1
df_translator

        book_id  translator_id
0           191          53793
2            43          59182
4         71718          59182
6         92408          62611
8         92404          62611
...         ...            ...
174210   122039          40723
174212   122026          38634
174214   122041          29973
174218   122046          40723
174220   122043          29973

[60867 rows x 2 columns]

In [84]:
# Create a session to insert data into the tables
Session = sessionmaker(bind=engine)
session = Session()

# Insert data from the DataFrame into book_translator table
df_translator[['book_id', 'translator_id']].to_sql('book_translator', con=engine, if_exists='append', index=False)

# Commit changes and close the session
session.commit()
session.close()

2023-09-30 09:38:41,359 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-30 09:38:41,362 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-09-30 09:38:41,363 INFO sqlalchemy.engine.Engine [cached since 33.46s ago] {'table_schema': 'iranketab_scraper', 'table_name': 'book_translator'}
2023-09-30 09:38:41,551 INFO sqlalchemy.engine.Engine INSERT INTO book_translator (book_id, translator_id) VALUES (%(book_id)s, %(translator_id)s)
2023-09-30 09:38:41,553 INFO sqlalchemy.engine.Engine [generated in 0.14620s] ({'book_id': 191, 'translator_id': 53793}, {'book_id': 43, 'translator_id': 59182}, {'book_id': 71718, 'translator_id': 59182}, {'book_id': 92408, 'translator_id': 62611}, {'book_id': 92404, 'translator_id': 62611}, {'book_id': 223, 'translator_id': 36897}, {'book_id': 62623, 'translator_id': 28387}, {'book_id': 62623, 'translator_id': 36852}  ... displaying 10 of 60867 total bound parameter sets ...  {'book_id': 122046, 'translator_id': 40723}, {'book_id': 122043, 'translator_id': 29973})
2023-09-30 09:38:43,147 INFO sqlalchemy.engine.Engine COMMIT

# table tags

In [85]:
file_path = "C:\\Pedram\\quera\\6th week\\Code\\DATABASE\\tags all.csv"
df_tags = pd.read_csv(file_path)
df_tags

        Unnamed: 0  book_id               name
0                0      191     ادبیات اقتباسی
1                1      191  جایزه نوبل ادبیات
2                2      191      ادبیات آمریکا
3                3      191     ادبیات داستانی
4                4      191  داستان کمدی (طنز)
...            ...      ...                ...
627135      627135   122051             سرگرمی
627136      627136   122051           شعر کودک
627137      627137   122051          کتاب مصور
627138      627138   122051          شعر معاصر
627139      627139   122051     داستان حیوانات

[627140 rows x 3 columns]

In [86]:
df_tags.drop('Unnamed: 0', axis=1, inplace=True)

df_tags

        book_id               name
0           191     ادبیات اقتباسی
1           191  جایزه نوبل ادبیات
2           191      ادبیات آمریکا
3           191     ادبیات داستانی
4           191  داستان کمدی (طنز)
...         ...                ...
627135   122051             سرگرمی
627136   122051           شعر کودک
627137   122051          کتاب مصور
627138   122051          شعر معاصر
627139   122051     داستان حیوانات

[627140 rows x 2 columns]

In [87]:
# create tag table
# Keep only one row for each unique value in the 'tag' column
df_tag = df_tags.drop_duplicates(subset='name', keep='first')

df_tag.drop('book_id', axis=1, inplace=True)


# Remove duplicates based on the 'name' column and select the largest value from each other column
df_tag = df_tag.groupby('name').agg(lambda x: x.max()).reset_index()

# Set the starting ID value
start_id = 1000

# Add an auto-incrementing ID column starting from 1000
df_tag['tag_id'] = range(start_id, start_id + len(df_tag))


# Print the result DataFrame
df_tag

C:\Users\parham\AppData\Local\Temp\ipykernel_12340\4186232230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tag.drop('book_id', axis=1, inplace=True)

                                       name  tag_id
0     1001 رمانی که باید قبل از مرگ بخوانید    1000
1                             61 کتاب نشونی    1001
2                                  American    1002
3                                  Biritish    1003
4                                     IELTS    1004
...                                     ...     ...
1102                            گروه سنی 4+    2102
1103                            گروه سنی 7+    2103
1104                            گروه سنی 9+    2104
1105                             گیاه شناسی    2105
1106                                   یوگا    2106

[1107 rows x 2 columns]

In [88]:
# Rename columns
new_column_names = {'tag_title':'name'}
df_tag.rename(columns=new_column_names, inplace=True)
df_tag = df_tag.replace()
df_tag

                                       name  tag_id
0     1001 رمانی که باید قبل از مرگ بخوانید    1000
1                             61 کتاب نشونی    1001
2                                  American    1002
3                                  Biritish    1003
4                                     IELTS    1004
...                                     ...     ...
1102                            گروه سنی 4+    2102
1103                            گروه سنی 7+    2103
1104                            گروه سنی 9+    2104
1105                             گیاه شناسی    2105
1106                                   یوگا    2106

[1107 rows x 2 columns]

In [89]:
# create tag_book table 
 # Merge the DataFrames based on the 'name' column
df_booktag = df_tags.merge(df_tag, on='name', how='left')

# Print the result DataFrame
df_booktag

        book_id               name  tag_id
0           191     ادبیات اقتباسی    1058
1           191  جایزه نوبل ادبیات    1323
2           191      ادبیات آمریکا    1043
3           191     ادبیات داستانی    1082
4           191  داستان کمدی (طنز)    1636
...         ...                ...     ...
627135   122051             سرگرمی    1731
627136   122051           شعر کودک    1764
627137   122051          کتاب مصور    2076
627138   122051          شعر معاصر    1760
627139   122051     داستان حیوانات    1603

[627140 rows x 3 columns]

In [90]:
# data injection for book tag 
# Rename columns
new_column_names = {'tag_title':'name'}
df_tag.rename(columns=new_column_names, inplace=True)
df_tag = df_tag.replace()
df_tag

                                       name  tag_id
0     1001 رمانی که باید قبل از مرگ بخوانید    1000
1                             61 کتاب نشونی    1001
2                                  American    1002
3                                  Biritish    1003
4                                     IELTS    1004
...                                     ...     ...
1102                            گروه سنی 4+    2102
1103                            گروه سنی 7+    2103
1104                            گروه سنی 9+    2104
1105                             گیاه شناسی    2105
1106                                   یوگا    2106

[1107 rows x 2 columns]

In [91]:
# fin anomaly in book_tag table
# Check if any 'id' values in df2 are not in df1
not_in_df3 = df_booktag[~df_booktag['book_id'].isin(df_merged['book_id'])]

# Print the 'id' values not in df1
not_in_df3

# Remove rows from df1 that match 'id' values in not_in_df1
df_booktag = df_booktag[~df_booktag['book_id'].isin(not_in_df3['book_id'])]

# Print the updated df1
df_booktag

        book_id               name  tag_id
0           191     ادبیات اقتباسی    1058
1           191  جایزه نوبل ادبیات    1323
2           191      ادبیات آمریکا    1043
3           191     ادبیات داستانی    1082
4           191  داستان کمدی (طنز)    1636
...         ...                ...     ...
627135   122051             سرگرمی    1731
627136   122051           شعر کودک    1764
627137   122051          کتاب مصور    2076
627138   122051          شعر معاصر    1760
627139   122051     داستان حیوانات    1603

[605270 rows x 3 columns]

In [92]:
# Rename columns
new_column_names = {'name': 'tag_title'}
df_tag.rename(columns=new_column_names, inplace=True)
df_tag = df_tag.replace()
df_tag

                                  tag_title  tag_id
0     1001 رمانی که باید قبل از مرگ بخوانید    1000
1                             61 کتاب نشونی    1001
2                                  American    1002
3                                  Biritish    1003
4                                     IELTS    1004
...                                     ...     ...
1102                            گروه سنی 4+    2102
1103                            گروه سنی 7+    2103
1104                            گروه سنی 9+    2104
1105                             گیاه شناسی    2105
1106                                   یوگا    2106

[1107 rows x 2 columns]

In [93]:
# Create a session to insert data into the tables
Session = sessionmaker(bind=engine)
session = Session()

# Insert data from the DataFrame into book_translator table
# Insert data from the DataFrame into tag table
df_tag[['tag_id', 'tag_title']].to_sql('tag', con=engine, if_exists='append', index=False)

# Commit changes and close the session
session.commit()
session.close()

2023-09-30 09:38:44,017 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-30 09:38:44,020 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-09-30 09:38:44,021 INFO sqlalchemy.engine.Engine [cached since 36.12s ago] {'table_schema': 'iranketab_scraper', 'table_name': 'tag'}
2023-09-30 09:38:44,028 INFO sqlalchemy.engine.Engine INSERT INTO tag (tag_id, tag_title) VALUES (%(tag_id)s, %(tag_title)s)
2023-09-30 09:38:44,030 INFO sqlalchemy.engine.Engine [generated in 0.00410s] ({'tag_id': 1000, 'tag_title': '1001 رمانی که باید قبل از مرگ بخوانید'}, {'tag_id': 1001, 'tag_title': '61 کتاب نشونی'}, {'tag_id': 1002, 'tag_title': 'American'}, {'tag_id': 1003, 'tag_title': 'Biritish'}, {'tag_id': 1004, 'tag_title': 'IELTS'}, {'tag_id': 1005, 'tag_title': 'TOEFL'}, {'tag_id': 1006, 'tag_title': 'آب درمانی'}, {'tag_id': 1007, 'tag_title': 'آبزیان'}  ... displaying 10 of 1107 total bound parameter sets ...  {'tag_id': 2105, 'tag_title': 'گیاه شناسی'}, {'tag_id': 2106, 'tag_title': 'یوگا'})
2023-09-30 09:38:44,055 INFO sqlalchemy.engine.Engine COMMIT

In [94]:
# Create a session to insert data into the tables
Session = sessionmaker(bind=engine)
session = Session()


# Insert data from the DataFrame into book_tag table
df_booktag[['book_id', 'tag_id']].to_sql('book_tag', con=engine, if_exists='append', index=False)

# Commit changes and close the session
session.commit()
session.close()

2023-09-30 09:38:44,071 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-30 09:38:44,074 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-09-30 09:38:44,075 INFO sqlalchemy.engine.Engine [cached since 36.17s ago] {'table_schema': 'iranketab_scraper', 'table_name': 'book_tag'}
2023-09-30 09:38:47,130 INFO sqlalchemy.engine.Engine INSERT INTO book_tag (book_id, tag_id) VALUES (%(book_id)s, %(tag_id)s)
2023-09-30 09:38:47,131 INFO sqlalchemy.engine.Engine [generated in 2.63084s] ({'book_id': 191, 'tag_id': 1058}, {'book_id': 191, 'tag_id': 1323}, {'book_id': 191, 'tag_id': 1043}, {'book_id': 191, 'tag_id': 1082}, {'book_id': 191, 'tag_id': 1636}, {'book_id': 191, 'tag_id': 1118}, {'book_id': 191, 'tag_id': 1688}, {'book_id': 191, 'tag_id': 1572}  ... displaying 10 of 605270 total bound parameter sets ...  {'book_id': 122051, 'tag_id': 1760}, {'book_id': 122051, 'tag_id': 1603})
2023-09-30 09:38:58,487 INFO sqlalchemy.engine.Engine COMMIT

# table person description

In [120]:
file_path = "C:\\Pedram\\quera\\6th week\\Code\\DATABASE\\profiles_all_links.csv"
df_profile = pd.read_csv(file_path)
df_profile

,Unnamed: 0,book_id,name,role,desc,like,linkid
0,0,191,نجف دریابندری,translator,نجف دریابندری مترجم و نویسنده ی معاصر ایرانی ا...,86,263-نجف-دریابندری
1,1,191,ویلیام فاکنر,author,ویلیام کاتبرت فالکنر زاده ی ۱۸۹۷ و درگذشته ی ۱...,49,279-william-faulkner
2,2,43,پیمان خاکسار,translator,پیمان خاکسار (۱۳۵۴ تهران) مترجم ایرانی است که ...,61,164-پیمان-خاکسار
3,3,43,استیو تولتز,author,استیو تولتز، نویسنده ی استرالیایی متولد ۱۹۷۲ س...,37,27-steve-toltz
4,4,71718,پیمان خاکسار,translator,پیمان خاکسار (۱۳۵۴ تهران) مترجم ایرانی است که ...,61,164-پیمان-خاکسار
...,...,...,...,...,...,...,...
174218,174218,122046,فرناز صفرزاده,translator,NaN,0,70693-فرناز-صفرزاده
174219,174219,122046,کریس بلیک,author,کریس بلیک در جنوب غربی، نه چندان دور از قلعه ت...,0,70692-christopher-blake
174220,174220,122043,زهرا رشیدی,translator,NaN,0,70694-زهرا-رشیدی
174221,174221,122043,کریس بلیک,author,کریس بلیک در جنوب غربی، نه چندان دور از قلعه ت...,0,70692-christopher-blake
174222,174222,122051,اسدالله شعبانی,author,اسدالله شعبانی متولد چهارم تیرماه ۱۳۳۷ نویسنده...,0,14630-اسدالله-شعبانی

In [121]:
# create tag table
# Keep only one row for each unique value in the 'tag' column
df_profile = df_profile.drop_duplicates(subset='name', keep='first')

df_profile.drop('Unnamed: 0', axis=1, inplace=True)
df_profile

C:\Users\parham\AppData\Local\Temp\ipykernel_12340\4261973237.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_profile.drop('Unnamed: 0', axis=1, inplace=True)

,book_id,name,role,desc,like,linkid
0,191,نجف دریابندری,translator,نجف دریابندری مترجم و نویسنده ی معاصر ایرانی ا...,86,263-نجف-دریابندری
1,191,ویلیام فاکنر,author,ویلیام کاتبرت فالکنر زاده ی ۱۸۹۷ و درگذشته ی ۱...,49,279-william-faulkner
2,43,پیمان خاکسار,translator,پیمان خاکسار (۱۳۵۴ تهران) مترجم ایرانی است که ...,61,164-پیمان-خاکسار
3,43,استیو تولتز,author,استیو تولتز، نویسنده ی استرالیایی متولد ۱۹۷۲ س...,37,27-steve-toltz
6,92408,گلناز سهرابی,translator,NaN,0,49301-گلناز-سهرابی
...,...,...,...,...,...,...
174210,122039,فرناز صفرزاده,translator,NaN,0,70693-فرناز-صفرزاده
174211,122039,کریس بلیک,author,کریس بلیک در جنوب غربی، نه چندان دور از قلعه ت...,0,70692-christopher-blake
174213,122026,هاوارد بارکر,author,هاوارد بارکر (زاده 28 ژوئن 1946) نمایشنامه نو...,0,70688-howard-barker
174214,122041,زهرا رشیدی,translator,NaN,0,70694-زهرا-رشیدی
174217,122030,مهرگان علیدوست,author,مهرگان علیدوست ، نوسنده و شاعر ایرانی است. علی...,0,70690-مهرگان-علیدوست

In [122]:
# df_person_new = df_writer_translator
# df_person_new.drop('book_id', axis=1, inplace=True)
# df_person_new.drop('is_writer', axis=1, inplace=True)
# df_person_new.drop('is_translator', axis=1, inplace=True)
# df_person_new.drop('role', axis=1, inplace=True)

df_person_new

                  name  person_id
0        نجف دریابندری      53793
1         ویلیام فاکنر      57367
2         پیمان خاکسار      59182
3          استیو تولتز      13981
4         پیمان خاکسار      59182
...                ...        ...
174218   فرناز صفرزاده      40723
174219       کریس بلیک      60856
174220      زهرا رشیدی      29973
174221       کریس بلیک      60856
174222  اسدالله شعبانی      14169

[174223 rows x 2 columns]

In [123]:
# create tag_book table 
 # Merge the DataFrames based on the 'name' column
df_p_description = df_profile.merge(df_person_new, on='name', how='left')

# Print the result DataFrame
df_p_description

,book_id,name,role,desc,like,linkid,person_id
0,191,نجف دریابندری,translator,نجف دریابندری مترجم و نویسنده ی معاصر ایرانی ا...,86,263-نجف-دریابندری,53793
1,191,نجف دریابندری,translator,نجف دریابندری مترجم و نویسنده ی معاصر ایرانی ا...,86,263-نجف-دریابندری,53793
2,191,نجف دریابندری,translator,نجف دریابندری مترجم و نویسنده ی معاصر ایرانی ا...,86,263-نجف-دریابندری,53793
3,191,نجف دریابندری,translator,نجف دریابندری مترجم و نویسنده ی معاصر ایرانی ا...,86,263-نجف-دریابندری,53793
4,191,نجف دریابندری,translator,نجف دریابندری مترجم و نویسنده ی معاصر ایرانی ا...,86,263-نجف-دریابندری,53793
...,...,...,...,...,...,...,...
174218,122039,کریس بلیک,author,کریس بلیک در جنوب غربی، نه چندان دور از قلعه ت...,0,70692-christopher-blake,60856
174219,122026,هاوارد بارکر,author,هاوارد بارکر (زاده 28 ژوئن 1946) نمایشنامه نو...,0,70688-howard-barker,55784
174220,122041,زهرا رشیدی,translator,NaN,0,70694-زهرا-رشیدی,29973
174221,122041,زهرا رشیدی,translator,NaN,0,70694-زهرا-رشیدی,29973
174222,122030,مهرگان علیدوست,author,مهرگان علیدوست ، نوسنده و شاعر ایرانی است. علی...,0,70690-مهرگان-علیدوست,51725

In [124]:
df_profile = df_p_description.drop_duplicates(subset='person_id', keep='first')
df_profile

,book_id,name,role,desc,like,linkid,person_id
0,191,نجف دریابندری,translator,نجف دریابندری مترجم و نویسنده ی معاصر ایرانی ا...,86,263-نجف-دریابندری,53793
37,191,ویلیام فاکنر,author,ویلیام کاتبرت فالکنر زاده ی ۱۸۹۷ و درگذشته ی ۱...,49,279-william-faulkner,57367
70,43,پیمان خاکسار,translator,پیمان خاکسار (۱۳۵۴ تهران) مترجم ایرانی است که ...,61,164-پیمان-خاکسار,59182
95,43,استیو تولتز,author,استیو تولتز، نویسنده ی استرالیایی متولد ۱۹۷۲ س...,37,27-steve-toltz,13981
105,92408,گلناز سهرابی,translator,NaN,0,49301-گلناز-سهرابی,62611
...,...,...,...,...,...,...,...
174212,122039,فرناز صفرزاده,translator,NaN,0,70693-فرناز-صفرزاده,40723
174215,122039,کریس بلیک,author,کریس بلیک در جنوب غربی، نه چندان دور از قلعه ت...,0,70692-christopher-blake,60856
174219,122026,هاوارد بارکر,author,هاوارد بارکر (زاده 28 ژوئن 1946) نمایشنامه نو...,0,70688-howard-barker,55784
174220,122041,زهرا رشیدی,translator,NaN,0,70694-زهرا-رشیدی,29973
174222,122030,مهرگان علیدوست,author,مهرگان علیدوست ، نوسنده و شاعر ایرانی است. علی...,0,70690-مهرگان-علیدوست,51725

In [125]:
# Rename columns
new_column_names = {'desc': 'description'}
df_profile.rename(columns=new_column_names, inplace=True)
df_profile = df_profile.replace()
df_profile

C:\Users\parham\AppData\Local\Temp\ipykernel_12340\548434869.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_profile.rename(columns=new_column_names, inplace=True)

,book_id,name,role,description,like,linkid,person_id
0,191,نجف دریابندری,translator,نجف دریابندری مترجم و نویسنده ی معاصر ایرانی ا...,86,263-نجف-دریابندری,53793
37,191,ویلیام فاکنر,author,ویلیام کاتبرت فالکنر زاده ی ۱۸۹۷ و درگذشته ی ۱...,49,279-william-faulkner,57367
70,43,پیمان خاکسار,translator,پیمان خاکسار (۱۳۵۴ تهران) مترجم ایرانی است که ...,61,164-پیمان-خاکسار,59182
95,43,استیو تولتز,author,استیو تولتز، نویسنده ی استرالیایی متولد ۱۹۷۲ س...,37,27-steve-toltz,13981
105,92408,گلناز سهرابی,translator,استیو تولتز، نویسنده ی استرالیایی متولد ۱۹۷۲ س...,0,49301-گلناز-سهرابی,62611
...,...,...,...,...,...,...,...
174212,122039,فرناز صفرزاده,translator,قاسم عسکری زاده در سال ۱۳۸۰ موفق به دریافت مدر...,0,70693-فرناز-صفرزاده,40723
174215,122039,کریس بلیک,author,کریس بلیک در جنوب غربی، نه چندان دور از قلعه ت...,0,70692-christopher-blake,60856
174219,122026,هاوارد بارکر,author,هاوارد بارکر (زاده 28 ژوئن 1946) نمایشنامه نو...,0,70688-howard-barker,55784
174220,122041,زهرا رشیدی,translator,هاوارد بارکر (زاده 28 ژوئن 1946) نمایشنامه نو...,0,70694-زهرا-رشیدی,29973
174222,122030,مهرگان علیدوست,author,مهرگان علیدوست ، نوسنده و شاعر ایرانی است. علی...,0,70690-مهرگان-علیدوست,51725

In [126]:
# Replace 'NO Like' with 0 in Column1
df_profile['like'] = df_profile['like'].replace('No like', 0)

# Display the modified DataFrame
df_profile

,book_id,name,role,description,like,linkid,person_id
0,191,نجف دریابندری,translator,نجف دریابندری مترجم و نویسنده ی معاصر ایرانی ا...,86,263-نجف-دریابندری,53793
37,191,ویلیام فاکنر,author,ویلیام کاتبرت فالکنر زاده ی ۱۸۹۷ و درگذشته ی ۱...,49,279-william-faulkner,57367
70,43,پیمان خاکسار,translator,پیمان خاکسار (۱۳۵۴ تهران) مترجم ایرانی است که ...,61,164-پیمان-خاکسار,59182
95,43,استیو تولتز,author,استیو تولتز، نویسنده ی استرالیایی متولد ۱۹۷۲ س...,37,27-steve-toltz,13981
105,92408,گلناز سهرابی,translator,استیو تولتز، نویسنده ی استرالیایی متولد ۱۹۷۲ س...,0,49301-گلناز-سهرابی,62611
...,...,...,...,...,...,...,...
174212,122039,فرناز صفرزاده,translator,قاسم عسکری زاده در سال ۱۳۸۰ موفق به دریافت مدر...,0,70693-فرناز-صفرزاده,40723
174215,122039,کریس بلیک,author,کریس بلیک در جنوب غربی، نه چندان دور از قلعه ت...,0,70692-christopher-blake,60856
174219,122026,هاوارد بارکر,author,هاوارد بارکر (زاده 28 ژوئن 1946) نمایشنامه نو...,0,70688-howard-barker,55784
174220,122041,زهرا رشیدی,translator,هاوارد بارکر (زاده 28 ژوئن 1946) نمایشنامه نو...,0,70694-زهرا-رشیدی,29973
174222,122030,مهرگان علیدوست,author,مهرگان علیدوست ، نوسنده و شاعر ایرانی است. علی...,0,70690-مهرگان-علیدوست,51725

In [127]:
# Convert the 'Column1' to integer type
df_profile['like'] = df_profile['like'].astype(int)
df_profile

,book_id,name,role,description,like,linkid,person_id
0,191,نجف دریابندری,translator,نجف دریابندری مترجم و نویسنده ی معاصر ایرانی ا...,86,263-نجف-دریابندری,53793
37,191,ویلیام فاکنر,author,ویلیام کاتبرت فالکنر زاده ی ۱۸۹۷ و درگذشته ی ۱...,49,279-william-faulkner,57367
70,43,پیمان خاکسار,translator,پیمان خاکسار (۱۳۵۴ تهران) مترجم ایرانی است که ...,61,164-پیمان-خاکسار,59182
95,43,استیو تولتز,author,استیو تولتز، نویسنده ی استرالیایی متولد ۱۹۷۲ س...,37,27-steve-toltz,13981
105,92408,گلناز سهرابی,translator,استیو تولتز، نویسنده ی استرالیایی متولد ۱۹۷۲ س...,0,49301-گلناز-سهرابی,62611
...,...,...,...,...,...,...,...
174212,122039,فرناز صفرزاده,translator,قاسم عسکری زاده در سال ۱۳۸۰ موفق به دریافت مدر...,0,70693-فرناز-صفرزاده,40723
174215,122039,کریس بلیک,author,کریس بلیک در جنوب غربی، نه چندان دور از قلعه ت...,0,70692-christopher-blake,60856
174219,122026,هاوارد بارکر,author,هاوارد بارکر (زاده 28 ژوئن 1946) نمایشنامه نو...,0,70688-howard-barker,55784
174220,122041,زهرا رشیدی,translator,هاوارد بارکر (زاده 28 ژوئن 1946) نمایشنامه نو...,0,70694-زهرا-رشیدی,29973
174222,122030,مهرگان علیدوست,author,مهرگان علیدوست ، نوسنده و شاعر ایرانی است. علی...,0,70690-مهرگان-علیدوست,51725

In [129]:
# Create a session to insert data into the tables
Session = sessionmaker(bind=engine)
session = Session()

# Insert data from the DataFrame into person_description table
df_profile[['like', 'person_id', 'description']].to_sql('person_description', con=engine, if_exists='append', index=False)

# Commit changes and close the session
session.commit()
session.close()

2023-09-30 10:09:11,738 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-30 10:09:11,741 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-09-30 10:09:11,742 INFO sqlalchemy.engine.Engine [cached since 1864s ago] {'table_schema': 'iranketab_scraper', 'table_name': 'person_description'}
2023-09-30 10:09:12,040 INFO sqlalchemy.engine.Engine INSERT INTO person_description (`like`, person_id, description) VALUES (%(like)s, %(person_id)s, %(description)s)
2023-09-30 10:09:12,041 INFO sqlalchemy.engine.Engine [generated in 0.22874s] ({'like': 86, 'person_id': 53793, 'description': 'نجف دریابندری مترجم و نویسنده ی معاصر ایرانی است. نجف دریابندری فرزند ناخدا خلف ظلم آبادی در ۱ شهریور ۱۳۰۸ در آبادان متولد شد. دوره ابتدایی را در مدر ... (1646 characters truncated) ... ه دریافت جایزه تورنتون وایلدر از دانشگاه کلمبیا گردیده است. وی همچنین همسر مرحومه فهیمه راستکار، بازیگر و دوبلور باسابقه تلویزیون، سینما و تئاتر است.'}, {'like': 49, 'person_id': 57367, 'description': 'ویلیام کاتبرت فالکنر زاده ی ۱۸۹۷ و درگذشته ی ۱۹۶۲، رمان نویس آمریکایی و برنده ی جایزه ی نوبل ادبیات بود. فاکنر در سبک های گوناگون شامل رمان، داستان ک ... (1198 characters truncated) ... یف، پیچیده، و گاه گوتیک با شخصیت های گوناگون شامل برده های آزاد شده، یا اعقاب برده ها، سفیدپوستان تهی دست، جنوبی های طبقه ی کارگر و یا اعیان می نوشت.'}, {'like': 61, 'person_id': 59182, 'description': 'پیمان خاکسار (۱۳۵۴ تهران) مترجم ایرانی است که آثار ادبی انگلیسی زبان را به فارسی ترجمه می کند. ترجمه او از رمان اتحادیه ابلهان در نظرسنجی منتقدان و ن ... (350 characters truncated) ... تشر شد. او در گفت وگو با مجله ادبی هنری تجربه گفته است: «از نویسنده های پیچیده نویس خوشم نمی آید. من از نویسنده ای که در کارش جنون باشد خوشم می آید.»'}, {'like': 37, 'person_id': 13981, 'description': 'استیو تولتز، نویسنده ی استرالیایی متولد ۱۹۷۲ سیدنی، اولین رمانش «جزء از کل» را در سال ۲۰۰۸ منتشر کرد که با استقبال زیادی روبه رو شد و همان سال نامزد  ... (975 characters truncated) ... سال طول می کشد ولی پنج سال طول کشید. زمان نوشتن تحت تاثیر کنوت هامسون ، لویی فردینان سلین ، جان فانته ، وودی آلن ، توماس برنارد و ریموند چندلر بودم.»'}, {'like': 0, 'person_id': 62611, 'description': 'استیو تولتز، نویسنده ی استرالیایی متولد ۱۹۷۲ سیدنی، اولین رمانش «جزء از کل» را در سال ۲۰۰۸ منتشر کرد که با استقبال زیادی روبه رو شد و همان سال نامزد  ... (975 characters truncated) ... سال طول می کشد ولی پنج سال طول کشید. زمان نوشتن تحت تاثیر کنوت هامسون ، لویی فردینان سلین ، جان فانته ، وودی آلن ، توماس برنارد و ریموند چندلر بودم.»'}, {'like': 25, 'person_id': 57131, 'description': 'ویدا اسلامیه زاده سال ۱۳۴۶ شمسی است. او فارغ التحصیل رشته مترجمی زبان انگلیسی از دانشگاه آزاد اسلامی است. ویدا اسلامیه ازدواج کرده و دو دختر دارد.او  ... (447 characters truncated) ...  آن را کسب کرده است∗. اما از آنجا که قانون کپی رایت در ایران به رسمیت شناخته نمی شود، ترجمه های متعددی از کتاب های هری پاتر در بازار ایران وجود دارد.'}, {'like': 81, 'person_id': 22662, 'description': 'جوآن جو رولینگ، زاده ی ۳۱ ژوئیه ۱۹۶۵، با نام های هنری جی. کی. رولینگ و رابرت گالبریث، نویسنده ی مجموعه کتاب های داستان هری پاتر است. داستان های هری پ ... (408 characters truncated) ... ه ی چهل و هشتمین شخصیت معروف در سال ۲۰۰۷ معرفی کرد. او در حال حاضر فعالیت های انسان دوستانه و خیرخواهانه ی بسیاری را به عهده گرفته و پشتیبانی می کند.'}, {'like': 83, 'person_id': 36897, 'description': 'عبدالله کوثری، مترجم، ویراستار و شاعر ایرانی در سال 1325 در همدان به دنیا می آید. وی ادبیات آمریکای لاتین را از انگلیسی به فارسی ترجمه می کند. کوثری  ... (633 characters truncated) ... ایش به اندیشه های نویسندگان وفادار می ماند و می کوشد که با زبانی مناسب آن ها را به خواننده منتقل کند. عبدالله کوثری در حال حاضر در مشهد زندگی می کند.'}  ... displaying 10 of 53517 total bound parameter sets ...  {'like': 0, 'person_id': 29973, 'description': 'هاوارد بارکر (زاده 28 ژوئن 1946)\xa0 نمایشنامه نویس، فیلمنامه نویس و نویسنده نمایشنامه رادیویی، نقاش، شاعر و مقاله نویس بریتانیایی است که عمدتاً در ز ... (282 characters truncated) ... باید پاسخ واحدی به رویدادهای روی صحنه بدهد، پاسخ را تکه تکه می\u200cکند و هر بیننده را مجبور می\u200cکند تا با نمایشنامه به تنهایی دست و پنجه نرم کند'}, {'like': 0, 'person_id': 51725, 'description': 'مهرگان علیدوست ، نوسنده و شاعر ایرانی است. علیدوست در سال 96، در جشنواره سراسری شعر مازندران (نشان ملی نیما)، موفق به کسب رتبه اول این جشنواره شده اس ... (71 characters truncated) ... ر مثل مجسمه\u200cی آزادی»، «آلیس در دل شیطان کوه» و «عکاسی که برعکس مسیر رودخانه شنا می\u200cکند»، از نشرهای شادمان، بوتیمار و مایا به چاپ رسیده است.'})
2023-09-30 10:09:14,499 INFO sqlalchemy.engine.Engine COMMIT